In [563]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

Question 1:

In [564]:
page=requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [565]:
page

In [566]:
soup=BeautifulSoup(page.content)

In [567]:
head=soup.find('span',class_="mw-headline")

In [568]:
head.text

'Welcome to Wikipedia'

In [569]:
head=[]#this list will contain all the header tags 
for i in soup.find_all('span',class_="mw-headline"):
    head.append(i.text)
head

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "From today's featured list",
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

Question 2:

In [570]:
page=requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc')

In [571]:
page2=requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt')

In [572]:
soup=BeautifulSoup(page.content)
top100=[]#this list will contain all the names of the movies in the IMDB's top 100 list
for i in soup.find_all('h3',class_="lister-item-header"):
    top100.append(i.text.split()[1:-1])
top100

[['The', 'Shawshank', 'Redemption'],
 ['The', 'Godfather'],
 ['The', 'Dark', 'Knight'],
 ['The', 'Lord', 'of', 'the', 'Rings:', 'The', 'Return', 'of', 'the', 'King'],
 ["Schindler's", 'List'],
 ['The', 'Godfather', 'Part', 'II'],
 ['12', 'Angry', 'Men'],
 ['Pulp', 'Fiction'],
 ['Inception'],
 ['The', 'Lord', 'of', 'the', 'Rings:', 'The', 'Two', 'Towers'],
 ['Fight', 'Club'],
 ['The',
  'Lord',
  'of',
  'the',
  'Rings:',
  'The',
  'Fellowship',
  'of',
  'the',
  'Ring'],
 ['Forrest', 'Gump'],
 ['Il', 'buono,', 'il', 'brutto,', 'il', 'cattivo'],
 ['The', 'Matrix'],
 ['Goodfellas'],
 ['The', 'Empire', 'Strikes', 'Back'],
 ['One', 'Flew', 'Over', 'the', "Cuckoo's", 'Nest'],
 ['Top', 'Gun:', 'Maverick'],
 ['Interstellar'],
 ['Cidade', 'de', 'Deus'],
 ['Sen', 'to', 'Chihiro', 'no', 'kamikakushi'],
 ['Saving', 'Private', 'Ryan'],
 ['The', 'Green', 'Mile'],
 ['La', 'vita', 'è', 'bella'],
 ['Se7en'],
 ['Terminator', '2:', 'Judgment', 'Day'],
 ['The', 'Silence', 'of', 'the', 'Lambs'],
 ['Star', 'Wars'],
 ['Seppuku'],
 ['Shichinin', 'no', 'samurai'],
 ["It's", 'a', 'Wonderful', 'Life'],
 ['Gisaengchung'],
 ['Whiplash'],
 ['The', 'Intouchables'],
 ['The', 'Prestige'],
 ['The', 'Departed'],
 ['The', 'Pianist'],
 ['Gladiator'],
 ['American', 'History', 'X'],
 ['The', 'Usual', 'Suspects'],
 ['Léon'],
 ['The', 'Lion', 'King'],
 ['Nuovo', 'Cinema', 'Paradiso'],
 ['Hotaru', 'no', 'haka'],
 ['Back', 'to', 'the', 'Future'],
 ['Apocalypse', 'Now'],
 ['Alien'],
 ['Once', 'Upon', 'a', 'Time', 'in', 'the', 'West'],
 ['Psycho']]

In [573]:
soup2=BeautifulSoup(page2.content)

In [574]:
#this list will contain all the names of the movies in the IMDB's top 100 list of the second page
for i in soup2.find_all('h3',class_="lister-item-header"):
    top100.append(i.text.split()[1:-1])
top100

[['The', 'Shawshank', 'Redemption'],
 ['The', 'Godfather'],
 ['The', 'Dark', 'Knight'],
 ['The', 'Lord', 'of', 'the', 'Rings:', 'The', 'Return', 'of', 'the', 'King'],
 ["Schindler's", 'List'],
 ['The', 'Godfather', 'Part', 'II'],
 ['12', 'Angry', 'Men'],
 ['Pulp', 'Fiction'],
 ['Inception'],
 ['The', 'Lord', 'of', 'the', 'Rings:', 'The', 'Two', 'Towers'],
 ['Fight', 'Club'],
 ['The',
  'Lord',
  'of',
  'the',
  'Rings:',
  'The',
  'Fellowship',
  'of',
  'the',
  'Ring'],
 ['Forrest', 'Gump'],
 ['Il', 'buono,', 'il', 'brutto,', 'il', 'cattivo'],
 ['The', 'Matrix'],
 ['Goodfellas'],
 ['The', 'Empire', 'Strikes', 'Back'],
 ['One', 'Flew', 'Over', 'the', "Cuckoo's", 'Nest'],
 ['Top', 'Gun:', 'Maverick'],
 ['Interstellar'],
 ['Cidade', 'de', 'Deus'],
 ['Sen', 'to', 'Chihiro', 'no', 'kamikakushi'],
 ['Saving', 'Private', 'Ryan'],
 ['The', 'Green', 'Mile'],
 ['La', 'vita', 'è', 'bella'],
 ['Se7en'],
 ['Terminator', '2:', 'Judgment', 'Day'],
 ['The', 'Silence', 'of', 'the', 'Lambs'],
 ['Star', 'Wars'],
 ['Seppuku'],
 ['Shichinin', 'no', 'samurai'],
 ["It's", 'a', 'Wonderful', 'Life'],
 ['Gisaengchung'],
 ['Whiplash'],
 ['The', 'Intouchables'],
 ['The', 'Prestige'],
 ['The', 'Departed'],
 ['The', 'Pianist'],
 ['Gladiator'],
 ['American', 'History', 'X'],
 ['The', 'Usual', 'Suspects'],
 ['Léon'],
 ['The', 'Lion', 'King'],
 ['Nuovo', 'Cinema', 'Paradiso'],
 ['Hotaru', 'no', 'haka'],
 ['Back', 'to', 'the', 'Future'],
 ['Apocalypse', 'Now'],
 ['Alien'],
 ['Once', 'Upon', 'a', 'Time', 'in', 'the', 'West'],
 ['Psycho'],
 ['Rear', 'Window'],
 ['Casablanca'],
 ['Modern', 'Times'],
 ['City', 'Lights'],
 ['Capharnaüm'],
 ['Joker', '(I)'],
 ['Kimi', 'no', 'na', 'wa.'],
 ['Spider-Man:', 'Into', 'the', 'Spider-Verse'],
 ['Avengers:', 'Endgame'],
 ['Avengers:', 'Infinity', 'War'],
 ['Coco', '(I)'],
 ['Django', 'Unchained'],
 ['The', 'Dark', 'Knight', 'Rises'],
 ['3', 'Idiots'],
 ['WALL·E'],
 ['The', 'Lives', 'of', 'Others'],
 ['Oldeuboi'],
 ['Memento'],
 ['American', 'Beauty'],
 ['Mononoke-hime'],
 ['Braveheart'],
 ['Idi', 'i', 'smotri'],
 ['Aliens'],
 ['Amadeus'],
 ['Raiders', 'of', 'the', 'Lost', 'Ark'],
 ['Das', 'Boot'],
 ['The', 'Shining'],
 ['Tengoku', 'to', 'jigoku'],
 ['Dr.',
  'Strangelove',
  'or:',
  'How',
  'I',
  'Learned',
  'to',
  'Stop',
  'Worrying',
  'and',
  'Love',
  'the',
  'Bomb'],
 ['Witness', 'for', 'the', 'Prosecution'],
 ['Paths', 'of', 'Glory'],
 ['Sunset', 'Blvd.'],
 ['The', 'Great', 'Dictator'],
 ['Jagten'],
 ['Toy', 'Story', '3'],
 ['Inglourious', 'Basterds'],
 ['Eternal', 'Sunshine', 'of', 'the', 'Spotless', 'Mind'],
 ['Requiem', 'for', 'a', 'Dream'],
 ['Good', 'Will', 'Hunting'],
 ['Toy', 'Story'],
 ['Reservoir', 'Dogs'],
 ['Once', 'Upon', 'a', 'Time', 'in', 'America'],
 ['Star', 'Wars:', 'Episode', 'VI', '-', 'Return', 'of', 'the', 'Jedi'],
 ['2001:', 'A', 'Space', 'Odyssey'],
 ['Lawrence', 'of', 'Arabia'],
 ['North', 'by', 'Northwest'],
 ['Vertigo'],
 ["Singin'", 'in', 'the', 'Rain'],
 ['Citizen', 'Kane'],
 ['M', '-', 'Eine', 'Stadt', 'sucht', 'einen', 'Mörder']]

In [575]:
len(top100)

100

In [576]:
year=[]
for i in soup.find_all('span',class_="lister-item-year text-muted unbold"):
    year.append(i.text.split())
year

[['(1994)'],
 ['(1972)'],
 ['(2008)'],
 ['(2003)'],
 ['(1993)'],
 ['(1974)'],
 ['(1957)'],
 ['(1994)'],
 ['(2010)'],
 ['(2002)'],
 ['(1999)'],
 ['(2001)'],
 ['(1994)'],
 ['(1966)'],
 ['(1999)'],
 ['(1990)'],
 ['(1980)'],
 ['(1975)'],
 ['(2022)'],
 ['(2014)'],
 ['(2002)'],
 ['(2001)'],
 ['(1998)'],
 ['(1999)'],
 ['(1997)'],
 ['(1995)'],
 ['(1991)'],
 ['(1991)'],
 ['(1977)'],
 ['(1962)'],
 ['(1954)'],
 ['(1946)'],
 ['(2019)'],
 ['(2014)'],
 ['(2011)'],
 ['(2006)'],
 ['(2006)'],
 ['(2002)'],
 ['(2000)'],
 ['(1998)'],
 ['(1995)'],
 ['(1994)'],
 ['(1994)'],
 ['(1988)'],
 ['(1988)'],
 ['(1985)'],
 ['(1979)'],
 ['(1979)'],
 ['(1968)'],
 ['(1960)']]

In [577]:
for i in soup2.find_all('span',class_="lister-item-year text-muted unbold"):
    year.append(i.text.split())
year

[['(1994)'],
 ['(1972)'],
 ['(2008)'],
 ['(2003)'],
 ['(1993)'],
 ['(1974)'],
 ['(1957)'],
 ['(1994)'],
 ['(2010)'],
 ['(2002)'],
 ['(1999)'],
 ['(2001)'],
 ['(1994)'],
 ['(1966)'],
 ['(1999)'],
 ['(1990)'],
 ['(1980)'],
 ['(1975)'],
 ['(2022)'],
 ['(2014)'],
 ['(2002)'],
 ['(2001)'],
 ['(1998)'],
 ['(1999)'],
 ['(1997)'],
 ['(1995)'],
 ['(1991)'],
 ['(1991)'],
 ['(1977)'],
 ['(1962)'],
 ['(1954)'],
 ['(1946)'],
 ['(2019)'],
 ['(2014)'],
 ['(2011)'],
 ['(2006)'],
 ['(2006)'],
 ['(2002)'],
 ['(2000)'],
 ['(1998)'],
 ['(1995)'],
 ['(1994)'],
 ['(1994)'],
 ['(1988)'],
 ['(1988)'],
 ['(1985)'],
 ['(1979)'],
 ['(1979)'],
 ['(1968)'],
 ['(1960)'],
 ['(1954)'],
 ['(1942)'],
 ['(1936)'],
 ['(1931)'],
 ['(2018)'],
 ['(I)', '(2019)'],
 ['(2016)'],
 ['(2018)'],
 ['(2019)'],
 ['(2018)'],
 ['(I)', '(2017)'],
 ['(2012)'],
 ['(2012)'],
 ['(2009)'],
 ['(2008)'],
 ['(2006)'],
 ['(2003)'],
 ['(2000)'],
 ['(1999)'],
 ['(1997)'],
 ['(1995)'],
 ['(1985)'],
 ['(1986)'],
 ['(1984)'],
 ['(1981)'],
 ['(1981)'],
 ['(1980)'],
 ['(1963)'],
 ['(1964)'],
 ['(1957)'],
 ['(1957)'],
 ['(1950)'],
 ['(1940)'],
 ['(2012)'],
 ['(2010)'],
 ['(2009)'],
 ['(2004)'],
 ['(2000)'],
 ['(1997)'],
 ['(1995)'],
 ['(1992)'],
 ['(1984)'],
 ['(1983)'],
 ['(1968)'],
 ['(1962)'],
 ['(1959)'],
 ['(1958)'],
 ['(1952)'],
 ['(1941)'],
 ['(1931)']]

In [578]:
rating=[]
for i in soup.find_all('div',class_="inline-block ratings-imdb-rating"):
    rating.append(i.text.split())
rating

[['9.3'],
 ['9.2'],
 ['9.0'],
 ['9.0'],
 ['9.0'],
 ['9.0'],
 ['9.0'],
 ['8.9'],
 ['8.8'],
 ['8.8'],
 ['8.8'],
 ['8.8'],
 ['8.8'],
 ['8.8'],
 ['8.7'],
 ['8.7'],
 ['8.7'],
 ['8.7'],
 ['8.6'],
 ['8.6'],
 ['8.6'],
 ['8.6'],
 ['8.6'],
 ['8.6'],
 ['8.6'],
 ['8.6'],
 ['8.6'],
 ['8.6'],
 ['8.6'],
 ['8.6'],
 ['8.6'],
 ['8.6'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5']]

In [579]:
for i in soup2.find_all('div',class_="inline-block ratings-imdb-rating"):
    rating.append(i.text.split())
rating

[['9.3'],
 ['9.2'],
 ['9.0'],
 ['9.0'],
 ['9.0'],
 ['9.0'],
 ['9.0'],
 ['8.9'],
 ['8.8'],
 ['8.8'],
 ['8.8'],
 ['8.8'],
 ['8.8'],
 ['8.8'],
 ['8.7'],
 ['8.7'],
 ['8.7'],
 ['8.7'],
 ['8.6'],
 ['8.6'],
 ['8.6'],
 ['8.6'],
 ['8.6'],
 ['8.6'],
 ['8.6'],
 ['8.6'],
 ['8.6'],
 ['8.6'],
 ['8.6'],
 ['8.6'],
 ['8.6'],
 ['8.6'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.5'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.3'],
 ['8.3'],
 ['8.3'],
 ['8.3'],
 ['8.3'],
 ['8.3'],
 ['8.3'],
 ['8.3'],
 ['8.3'],
 ['8.3'],
 ['8.3'],
 ['8.3'],
 ['8.3'],
 ['8.3'],
 ['8.3'],
 ['8.3'],
 ['8.3']]

In [580]:
import pandas as pd

In [581]:
df=pd.DataFrame({'name':top100,'YearOfRelease':year,'Rating':rating})

In [582]:
df

                                                 name YearOfRelease Rating
0                        [The, Shawshank, Redemption]      [(1994)]  [9.3]
1                                    [The, Godfather]      [(1972)]  [9.2]
2                                 [The, Dark, Knight]      [(2008)]  [9.0]
3   [The, Lord, of, the, Rings:, The, Return, of, ...      [(2003)]  [9.0]
4                                 [Schindler's, List]      [(1993)]  [9.0]
..                                                ...           ...    ...
95                             [North, by, Northwest]      [(1959)]  [8.3]
96                                          [Vertigo]      [(1958)]  [8.3]
97                           [Singin', in, the, Rain]      [(1952)]  [8.3]
98                                    [Citizen, Kane]      [(1941)]  [8.3]
99          [M, -, Eine, Stadt, sucht, einen, Mörder]      [(1931)]  [8.3]

[100 rows x 3 columns]

Question 3:

In [594]:
page=requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
soup=BeautifulSoup(page.content)

In [595]:
#to make a list of all the movie names

In [585]:
name=[]
for i in soup.find_all('td',class_="titleColumn"):
    name.append(i.text.split()[1:-1])
name

[['Rocketry:', 'The', 'Nambi', 'Effect'],
 ['Anbe', 'Sivam'],
 ['Golmaal'],
 ['Jai', 'Bhim'],
 ['Nayakan'],
 ['Pariyerum', 'Perumal'],
 ['3', 'Idiots'],
 ['Apur', 'Sansar'],
 ['Manichitrathazhu'],
 ['Kumbalangi', 'Nights'],
 ['Black', 'Friday'],
 ['Taare', 'Zameen', 'Par'],
 ['C/o', 'Kancharapalem'],
 ['#Home'],
 ['Soorarai', 'Pottru'],
 ['Dangal'],
 ['Kireedam'],
 ['Kaithi'],
 ['Jersey'],
 ['Asuran'],
 ['96'],
 ['Thevar', 'Magan'],
 ['Visaaranai'],
 ['Pather', 'Panchali'],
 ['Thalapathi'],
 ['Sarpatta', 'Parambarai'],
 ['Natsamrat'],
 ['Drishyam', '2'],
 ['Thani', 'Oruvan'],
 ['Sardar', 'Udham'],
 ['Aparajito'],
 ['Vada', 'Chennai'],
 ['Jaane', 'Bhi', 'Do', 'Yaaro'],
 ['Khosla', 'Ka', 'Ghosla!'],
 ['777', 'Charlie'],
 ['Vikram'],
 ['Drishyam'],
 ['Chupke', 'Chupke'],
 ['Peranbu'],
 ['Agent', 'Sai', 'Srinivasa', 'Athreya'],
 ['Anniyan'],
 ['Mahanati'],
 ['Bangalore', 'Days'],
 ['Satya'],
 ['Super', 'Deluxe'],
 ['Premam'],
 ['Ratsasan'],
 ['Gangs', 'of', 'Wasseypur'],
 ['Devasuram'],
 ['Bhaag', 'Milkha', 'Bhaag'],
 ['Andhadhun'],
 ['Aruvi'],
 ['Drishyam'],
 ['Kannathil', 'Muthamittal'],
 ['Guide'],
 ['Chithram'],
 ['Shahid'],
 ['Vikram', 'Vedha'],
 ['Iruvar'],
 ['Sairat'],
 ['Zindagi', 'Na', 'Milegi', 'Dobara'],
 ['Paan', 'Singh', 'Tomar'],
 ['Tumbbad'],
 ['Mudhalvan'],
 ['Chhichhore'],
 ['Dhuruvangal', 'Pathinaaru'],
 ['Spadikam'],
 ['Swades:', 'We,', 'the', 'People'],
 ['Black'],
 ['Chak', 'De!', 'India'],
 ['Jo', 'Jeeta', 'Wohi', 'Sikandar'],
 ['Papanasam'],
 ['Pudhu', 'Pettai'],
 ['Mandela'],
 ['Pyaasa'],
 ['Munna', 'Bhai', 'M.B.B.S.'],
 ['PK'],
 ['Article', '15'],
 ['Soodhu', 'Kavvum'],
 ['Uri:', 'The', 'Surgical', 'Strike'],
 ['Queen'],
 ['Kaakkaa', 'Muttai'],
 ['Talvar'],
 ['Lagaan:', 'Once', 'Upon', 'a', 'Time', 'in', 'India'],
 ['OMG:', 'Oh', 'My', 'God!'],
 ['Jigarthanda'],
 ['Sarfarosh'],
 ['Udaan'],
 ['Barfi!'],
 ['Theeran', 'Adhigaaram', 'Ondru'],
 ['Sholay'],
 ['Hera', 'Pheri'],
 ['Ustad', 'Hotel'],
 ['The', 'Legend', 'of', 'Bhagat', 'Singh'],
 ['Angoor'],
 ['Rang', 'De', 'Basanti'],
 ['Baasha'],
 ['Baahubali', '2:', 'The', 'Conclusion'],
 ['Masaan'],
 ['Kahaani'],
 ['Dil', 'Chahta', 'Hai'],
 ['Maheshinte', 'Prathikaaram'],
 ['Virumandi'],
 ['A', 'Wednesday'],
 ['Roja'],
 ['Iqbal'],
 ['Nil', 'Battey', 'Sannata'],
 ['Pink'],
 ['Kaun', 'Pravin', 'Tambe?'],
 ['Pithamagan'],
 ['Lage', 'Raho', 'Munna', 'Bhai'],
 ['Shershaah'],
 ['Charulata'],
 ['Anand'],
 ['Section', '375'],
 ['Alai', 'Payuthey'],
 ['Jana', 'Gana', 'Mana'],
 ['Bajrangi', 'Bhaijaan'],
 ['Omkara'],
 ['Lucia'],
 ['Bombay'],
 ['Oru', 'Vadakkan', 'Veeragatha'],
 ['Bommarillu'],
 ['K.G.F:', 'Chapter', '2'],
 ['Indian'],
 ['K.G.F:', 'Chapter', '1'],
 ['The', 'Great', 'Indian', 'Kitchen'],
 ['Haider'],
 ['Rangasthalam'],
 ['Mughal-E-Azam'],
 ['Dilwale', 'Dulhania', 'Le', 'Jayenge'],
 ['Special', 'Chabbis'],
 ['Maqbool'],
 ['Athadu'],
 ['Andaz', 'Apna', 'Apna'],
 ['Thadam'],
 ['Maanaadu'],
 ['Padayappa'],
 ['Pelli', 'Choopulu'],
 ['Vaaranam', 'Aayiram'],
 ['Android', 'Kunjappan', 'Version', '5.25'],
 ['Gulaal'],
 ['Naduvula', 'Konjam', 'Pakkatha', 'Kaanom'],
 ['Gully', 'Boy'],
 ['Ugly'],
 ['Deewaar'],
 ['Badhaai', 'ho'],
 ['Vaastav:', 'The', 'Reality'],
 ['Evaru'],
 ['Company'],
 ['Ulidavaru', 'Kandanthe'],
 ['Kshanam'],
 ['Padosan'],
 ['Aadukalam'],
 ['Maanagaram'],
 ['Nayattu'],
 ['Thondimuthalum', 'Dhriksakshiyum'],
 ['Dev.D'],
 ['My', 'Name', 'Is', 'Khan'],
 ['Major'],
 ['Pranchiyettan', 'and', 'the', 'Saint'],
 ['Take', 'Off'],
 ['Baishe', 'Srabon'],
 ['Kal', 'Ho', 'Naa', 'Ho'],
 ['Jab', 'We', 'Met'],
 ['Arjun', 'Reddy'],
 ['Manjhi:', 'The', 'Mountain', 'Man'],
 ['Ayyappanum', 'Koshiyum'],
 ['Super', '30'],
 ['Dil', 'Bechara'],
 ['Mukkabaaz'],
 ['Karnan'],
 ['Border'],
 ['Deiva', 'Thirumagal'],
 ['Ship', 'of', 'Theseus'],
 ['Jalsaghar'],
 ['Charlie'],
 ['Vedam'],
 ['Padman'],
 ['Salaam', 'Bombay!'],
 ['RRR', '(Rise', 'Roar', 'Revolt)'],
 ['Bãhubali:', 'The', 'Beginning'],
 ['Ankhon', 'Dekhi'],
 ['Baby'],
 ['Malik'],
 ['Vinnaithaandi', 'Varuvaayaa'],
 ['Pizza'],
 ['M.S.', 'Dhoni:', 'The', 'Untold', 'Story'],
 ['Kirik', 'Party'],
 ['English', 'Vinglish'],
 ['Hindi', 'Medium'],
 ['Lakshya'],
 ['Memories'],
 ['Dor'],
 ['Airlift'],
 ['Johnny', 'Gaddaar'],
 ['Hey', 'Ram'],
 ['Joseph'],
 ['Kaakha..Kaakha:', 'The', 'Police'],
 ['The', 'Tashkent', 'Files'],
 ['Hridayam'],
 ['Gangaajal'],
 ['Anjaam', 'Pathiraa'],
 ['Vettaiyaadu', 'Vilaiyaadu'],
 ['Mumbai', 'Police'],
 ['The', 'Lunchbox'],
 ['Ab', 'Tak', 'Chhappan'],
 ['Okkadu'],
 ['Unnaipol', 'Oruvan'],
 ['Secret', 'Superstar'],
 ['Pokiri'],
 ['Angamaly', 'Diaries'],
 ['Thuppakki'],
 ['Oopiri'],
 ['Manam'],
 ['Vicky', 'Donor'],
 ['Mother', 'India'],
 ['Ghilli'],
 ['RangiTaranga'],
 ['Veer-Zaara'],
 ['Stanley', 'Ka', 'Dabba'],
 ['Mimi'],
 ['Kaththi'],
 ['Udta', 'Punjab'],
 ['Rock', 'On!!'],
 ['Nayak:', 'The', 'Real', 'Hero'],
 ['Mr.', 'India'],
 ['Dia'],
 ['Badla'],
 ['Happy', 'Days'],
 ['Raazi'],
 ['Sonchiriya'],
 ['Minnal', 'Murali'],
 ['Thulladha', 'Manamum', 'Thullum'],
 ['Dasvidaniya'],
 ['Aayirathil', 'Oruvan'],
 ['Poove', 'Unakkaga'],
 ['Kai', 'po', 'che!'],
 ['Joji'],
 ['Goodachari'],
 ['Ko'],
 ['Don'],
 ['Aligarh'],
 ['Ennu', 'Ninte', 'Moideen'],
 ['Guru'],
 ['24'],
 ['Velaiilla', 'Pattadhari'],
 ['Kapoor', '&', 'Sons'],
 ['Colour', 'Photo'],
 ['Rockstar']]

In [586]:
del name[100:]

In [587]:
len(name)

100

In [588]:
name[99]

['Kahaani']

In [589]:
#to make a list of all the movie year of release

In [590]:
year=[]
for i in soup.find_all('span',class_="secondaryInfo"):
    year.append(i.text.split())
del year[100:]
year

[['(2022)'],
 ['(2003)'],
 ['(1979)'],
 ['(2021)'],
 ['(1987)'],
 ['(2018)'],
 ['(2009)'],
 ['(1959)'],
 ['(1993)'],
 ['(2019)'],
 ['(2004)'],
 ['(2007)'],
 ['(2018)'],
 ['(2021)'],
 ['(2020)'],
 ['(2016)'],
 ['(1989)'],
 ['(2019)'],
 ['(2019)'],
 ['(2019)'],
 ['(2018)'],
 ['(1992)'],
 ['(2015)'],
 ['(1955)'],
 ['(1991)'],
 ['(2021)'],
 ['(2016)'],
 ['(2021)'],
 ['(2015)'],
 ['(2021)'],
 ['(1956)'],
 ['(2018)'],
 ['(1983)'],
 ['(2006)'],
 ['(2022)'],
 ['(2022)'],
 ['(2013)'],
 ['(1975)'],
 ['(2018)'],
 ['(2019)'],
 ['(2005)'],
 ['(2018)'],
 ['(2014)'],
 ['(1998)'],
 ['(2019)'],
 ['(2015)'],
 ['(2018)'],
 ['(2012)'],
 ['(1993)'],
 ['(2013)'],
 ['(2018)'],
 ['(2016)'],
 ['(2015)'],
 ['(2002)'],
 ['(1965)'],
 ['(1988)'],
 ['(2012)'],
 ['(2017)'],
 ['(1997)'],
 ['(2016)'],
 ['(2011)'],
 ['(2012)'],
 ['(2018)'],
 ['(1999)'],
 ['(2019)'],
 ['(2016)'],
 ['(1995)'],
 ['(2004)'],
 ['(2005)'],
 ['(2007)'],
 ['(1992)'],
 ['(2015)'],
 ['(2006)'],
 ['(2021)'],
 ['(1957)'],
 ['(2003)'],
 ['(2014)'],
 ['(2019)'],
 ['(2013)'],
 ['(2019)'],
 ['(2013)'],
 ['(2014)'],
 ['(2015)'],
 ['(2001)'],
 ['(2012)'],
 ['(2014)'],
 ['(1999)'],
 ['(2010)'],
 ['(2012)'],
 ['(2017)'],
 ['(1975)'],
 ['(2000)'],
 ['(2012)'],
 ['(2002)'],
 ['(1982)'],
 ['(2006)'],
 ['(1995)'],
 ['(2017)'],
 ['(2015)'],
 ['(2012)']]

In [591]:
#list of all the ratings

In [592]:
rate=[]
for i in soup.find_all('td',class_="ratingColumn imdbRating"):
    rate.append(i.text.split())
del rate[100:]
rate

[['8.5'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.4'],
 ['8.3'],
 ['8.3'],
 ['8.3'],
 ['8.3'],
 ['8.3'],
 ['8.3'],
 ['8.3'],
 ['8.3'],
 ['8.3'],
 ['8.3'],
 ['8.3'],
 ['8.3'],
 ['8.2'],
 ['8.2'],
 ['8.2'],
 ['8.2'],
 ['8.2'],
 ['8.2'],
 ['8.2'],
 ['8.2'],
 ['8.2'],
 ['8.2'],
 ['8.2'],
 ['8.2'],
 ['8.2'],
 ['8.2'],
 ['8.2'],
 ['8.2'],
 ['8.2'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.1'],
 ['8.0'],
 ['8.0'],
 ['8.0'],
 ['8.0'],
 ['8.0'],
 ['8.0'],
 ['8.0'],
 ['8.0'],
 ['8.0'],
 ['8.0'],
 ['8.0'],
 ['8.0'],
 ['8.0'],
 ['8.0'],
 ['8.0'],
 ['8.0'],
 ['8.0'],
 ['8.0'],
 ['8.0'],
 ['8.0'],
 ['8.0'],
 ['8.0'],
 ['8.0']]

In [593]:
print(len(rate),len(year),len(name))

100 100 100

In [596]:
df1=pd.DataFrame({'Title':name,'YearOfRelease':year,'Rating':rate})

In [597]:
df1

                               Title YearOfRelease Rating
0    [Rocketry:, The, Nambi, Effect]      [(2022)]  [8.5]
1                      [Anbe, Sivam]      [(2003)]  [8.4]
2                          [Golmaal]      [(1979)]  [8.4]
3                        [Jai, Bhim]      [(2021)]  [8.4]
4                          [Nayakan]      [(1987)]  [8.4]
..                               ...           ...    ...
95               [Rang, De, Basanti]      [(2006)]  [8.0]
96                          [Baasha]      [(1995)]  [8.0]
97  [Baahubali, 2:, The, Conclusion]      [(2017)]  [8.0]
98                          [Masaan]      [(2015)]  [8.0]
99                         [Kahaani]      [(2012)]  [8.0]

[100 rows x 3 columns]

Question 4:

In [ ]:
#program to display the list of respected former presidents of India

In [598]:
page4=requests.get('https://presidentofindia.nic.in/former-presidents.htm')
soup4=BeautifulSoup(page4.content)

In [599]:
name=[]
for i in soup4.find_all('div',class_="presidentListing"):
    name.append(i.text.split()[0:-1])
name

[['Shri',
  'Ram',
  'Nath',
  'Kovind',
  '(birth',
  '-',
  '1945)',
  'Term',
  'of',
  'Office:',
  '25',
  'July,',
  '2017',
  'to',
  '25',
  'July,',
  '2022'],
 ['Shri',
  'Pranab',
  'Mukherjee',
  '(1935-2020)',
  'Term',
  'of',
  'Office:',
  '25',
  'July,',
  '2012',
  'to',
  '25',
  'July,',
  '2017'],
 ['Smt',
  'Pratibha',
  'Devisingh',
  'Patil',
  '(birth',
  '-',
  '1934)',
  'Term',
  'of',
  'Office:',
  '25',
  'July,',
  '2007',
  'to',
  '25',
  'July,',
  '2012'],
 ['DR.',
  'A.P.J.',
  'Abdul',
  'Kalam',
  '(1931-2015)',
  'Term',
  'of',
  'Office:',
  '25',
  'July,',
  '2002',
  'to',
  '25',
  'July,',
  '2007'],
 ['Shri',
  'K.',
  'R.',
  'Narayanan',
  '(1920',
  '-',
  '2005)',
  'Term',
  'of',
  'Office:',
  '25',
  'July,',
  '1997',
  'to',
  '25',
  'July,'],
 ['Dr',
  'Shankar',
  'Dayal',
  'Sharma',
  '(1918-1999)',
  'Term',
  'of',
  'Office:',
  '25',
  'July,',
  '1992',
  'to',
  '25',
  'July,'],
 ['Shri',
  'R',
  'Venkataraman',
  '(1910-2009)',
  'Term',
  'of',
  'Office:',
  '25',
  'July,',
  '1987',
  'to',
  '25',
  'July,'],
 ['Giani',
  'Zail',
  'Singh',
  '(1916-1994)',
  'Term',
  'of',
  'Office:',
  '25',
  'July,',
  '1982',
  'to',
  '25',
  'July,'],
 ['Shri',
  'Neelam',
  'Sanjiva',
  'Reddy',
  '(1913-1996)',
  'Term',
  'of',
  'Office:',
  '25',
  'July,',
  '1977',
  'to',
  '25',
  'July,'],
 ['Dr.',
  'Fakhruddin',
  'Ali',
  'Ahmed',
  '(1905-1977)',
  'Term',
  'of',
  'Office:',
  '24',
  'August,',
  '1974',
  'to',
  '11',
  'February,'],
 ['Shri',
  'Varahagiri',
  'Venkata',
  'Giri',
  '(1894-1980)',
  'Term',
  'of',
  'Office:',
  '3',
  'May,',
  '1969',
  'to',
  '20',
  'July,',
  '1969',
  'and',
  '24',
  'August,',
  '1969',
  'to',
  '24',
  'August,'],
 ['Dr.',
  'Zakir',
  'Husain',
  '(1897-1969)',
  'Term',
  'of',
  'Office:',
  '13',
  'May,',
  '1967',
  'to',
  '3',
  'May,'],
 ['Dr.',
  'Sarvepalli',
  'Radhakrishnan',
  '(1888-1975)',
  'Term',
  'of',
  'Office:',
  '13',
  'May,',
  '1962',
  'to',
  '13',
  'May,'],
 ['Dr.',
  'Rajendra',
  'Prasad',
  '(1884-1963)',
  'Term',
  'of',
  'Office:',
  '26',
  'January,',
  '1950',
  'to',
  '13',
  'May,']]

Question 5:

a)top 10 ODI teams in Men's cricket with matches, points and rating

In [296]:
page5a=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup5a=BeautifulSoup(page5a.content)

In [297]:
team=[]
for i in soup5a.find_all('span',class_="u-hide-phablet"):
    team.append(i.text)
del team[10:]
team

['New Zealand',
 'England',
 'India',
 'Pakistan',
 'Australia',
 'South Africa',
 'Bangladesh',
 'Sri Lanka',
 'West Indies',
 'Afghanistan']

In [298]:
matches=[]
m=soup5a.find('td',class_="rankings-block__banner--matches")
matches.append(m.text)
for i in soup5a.find_all('tr',class_="table-body"):
    matches.append(i.text.split()[-3])
del matches[10:]
matches

['15', '27', '28', '19', '23', '21', '27', '29', '38', '18']

In [299]:
points=[]
i=soup5a.find('td',class_="rankings-block__banner--points")
points.append(i.text)
for i in soup5a.find_all('tr',class_="table-body"):
    points.append(i.text.split()[-2])
del points[10:]

In [300]:
teamratings=[]
a=soup5a.find('td',class_="rankings-block__banner--rating u-text-right")
teamratings.append(a.text.split())
for i in soup5a.find_all('td',class_="table-body__cell u-text-right rating"):
    teamratings.append(i.text.split())

del teamratings[10:]
teamratings

[['128'],
 ['119'],
 ['110'],
 ['106'],
 ['101'],
 ['101'],
 ['98'],
 ['92'],
 ['69'],
 ['69']]

In [293]:
dfmensteam=pd.DataFrame({'Name':team,'Matches':matches,'Points':points,'TeamRating':teamratings})

In [294]:
dfmensteam

           Name Matches Points TeamRating
0   New Zealand      15  1,913      [128]
1       England      27  3,226      [119]
2         India      27  2,965      [110]
3      Pakistan      19  2,005      [106]
4     Australia      23  2,325      [101]
5  South Africa      21  2,111      [101]
6    Bangladesh      27  2,639       [98]
7     Sri Lanka      29  2,658       [92]
8   West Indies      37  2,562       [69]
9   Afghanistan      18  1,238       [69]

Question 5B

b)top 10 ODI batsman in Men's cricket along with their team and rating

In [306]:
page5b=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
soup5b=BeautifulSoup(page5b.content)

In [311]:
player=[]
player1=soup5b.find('div',class_="rankings-block__banner--name-large")
player.append(player1.text)
for i in soup5b.find_all('td',class_="table-body__cell rankings-table__name name"):
    player.append(i.text.split())
del player[10:]
player

['Babar Azam',
 ['Imam-ul-Haq'],
 ['Rassie', 'van', 'der', 'Dussen'],
 ['Quinton', 'de', 'Kock'],
 ['Virat', 'Kohli'],
 ['Rohit', 'Sharma'],
 ['Ross', 'Taylor'],
 ['David', 'Warner'],
 ['Jonny', 'Bairstow'],
 ['Aaron', 'Finch']]

In [324]:
team=[]
t1=soup5b.find('div',class_="rankings-block__banner--nationality")
team.append(t1.text.split())
team
for i in soup5b.find_all('span',class_="table-body__logo-text"):
    team.append(i.text.split())
del team [10:]
team

[['PAK'],
 ['PAK'],
 ['SA'],
 ['SA'],
 ['IND'],
 ['IND'],
 ['NZ'],
 ['AUS'],
 ['ENG'],
 ['AUS']]

In [333]:
rating=[]
r=soup5b.find('div',class_="rankings-block__banner--rating")
rating.append(r.text.split())
for i in soup5b.find_all('td',class_="table-body__cell rating"):
    rating.append(i.text.split())
del rating [10:]
rating

[['892'],
 ['815'],
 ['789'],
 ['784'],
 ['774'],
 ['770'],
 ['752'],
 ['737'],
 ['732'],
 ['715']]

In [334]:
df_odibatsman=pd.DataFrame({'Name of the player':player,'Team':team,'Rating':rating})

In [335]:
df_odibatsman

           Name of the player   Team Rating
0                  Babar Azam  [PAK]  [892]
1               [Imam-ul-Haq]  [PAK]  [815]
2  [Rassie, van, der, Dussen]   [SA]  [789]
3         [Quinton, de, Kock]   [SA]  [784]
4              [Virat, Kohli]  [IND]  [774]
5             [Rohit, Sharma]  [IND]  [770]
6              [Ross, Taylor]   [NZ]  [752]
7             [David, Warner]  [AUS]  [737]
8           [Jonny, Bairstow]  [ENG]  [732]
9              [Aaron, Finch]  [AUS]  [715]

c)top 10 ODI bowlers in Men's cricket along with their team and rating

In [343]:
page5c=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
soup5c=BeautifulSoup(page5c.content)

In [346]:
bowler=[]
b=soup5c.find('div',class_="rankings-block__banner--name-large")
bowler.append(b.text.split())
for i in soup5c.find_all('td',class_="table-body__cell rankings-table__name name"):
  bowler.append(i.text.split())  
del bowler[10:]
bowler

[['Trent', 'Boult'],
 ['Jasprit', 'Bumrah'],
 ['Shaheen', 'Afridi'],
 ['Josh', 'Hazlewood'],
 ['Mujeeb', 'Ur', 'Rahman'],
 ['Mehedi', 'Hasan'],
 ['Matt', 'Henry'],
 ['Mohammad', 'Nabi'],
 ['Rashid', 'Khan'],
 ['Chris', 'Woakes']]

In [350]:
team=[]
t=soup5c.find('div',class_="rankings-block__banner--nationality")
team.append(t.text.split())

for i in soup5c.find_all('span',class_="table-body__logo-text"):
    team.append(i.text.split())
del team[10:]
team

[['NZ'],
 ['IND'],
 ['PAK'],
 ['AUS'],
 ['AFG'],
 ['BAN'],
 ['NZ'],
 ['AFG'],
 ['AFG'],
 ['ENG']]

In [356]:
rating=[]
r2=soup5c.find('div',class_="rankings-block__banner--rating")
rating.append(r2.text.split())
for i in soup5c.find_all('td',class_="table-body__cell rating"):
    rating.append(i.text.split())
del rating[10:]
rating

[['704'],
 ['689'],
 ['681'],
 ['679'],
 ['676'],
 ['672'],
 ['670'],
 ['657'],
 ['651'],
 ['640']]

In [358]:
df_odibowlers=pd.DataFrame({'Name of the player':bowler,'Team':team,'Rating':rating})
df_odibowlers

     Name of the player   Team Rating
0        [Trent, Boult]   [NZ]  [704]
1     [Jasprit, Bumrah]  [IND]  [689]
2     [Shaheen, Afridi]  [PAK]  [681]
3     [Josh, Hazlewood]  [AUS]  [679]
4  [Mujeeb, Ur, Rahman]  [AFG]  [676]
5       [Mehedi, Hasan]  [BAN]  [672]
6         [Matt, Henry]   [NZ]  [670]
7      [Mohammad, Nabi]  [AFG]  [657]
8        [Rashid, Khan]  [AFG]  [651]
9       [Chris, Woakes]  [ENG]  [640]

Question 6a:top 10 ODI teams in Women's cricket with matches, points and rating

In [547]:
page6a=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup6a=BeautifulSoup(page6a.content)

In [548]:
team=[]
for i in soup6a.find_all('span',class_="u-hide-phablet"):
    team.append(i.text)
del team[10:]
team

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Pakistan',
 'Sri Lanka',
 'Ireland']

In [549]:
points=[]
i=soup6a.find('td',class_="rankings-block__banner--points")
points.append(i.text)
for i in soup6a.find_all('tr',class_="table-body"):
    points.append(i.text.split()[-2])
del points[10:]
points

['4,837',
 '4,046',
 '4,157',
 '3,219',
 '3,019',
 '2,768',
 '930',
 '1,962',
 '495',
 '351']

In [550]:
teamratings=[]
a=soup6a.find('td',class_="rankings-block__banner--rating u-text-right")
teamratings.append(a.text.split())
for i in soup6a.find_all('td',class_="table-body__cell u-text-right rating"):
    teamratings.append(i.text.split())
del teamratings[10:]
teamratings

[['167'],
 ['123'],
 ['119'],
 ['101'],
 ['97'],
 ['92'],
 ['78'],
 ['65'],
 ['45'],
 ['44']]

In [551]:
matches=[]
m=soup6a.find('td',class_="rankings-block__banner--matches")
matches.append(m.text)
for i in soup6a.find_all('tr',class_="table-body"):
    matches.append(i.text.split()[-3])
del matches[10:]
matches

['29', '33', '35', '32', '31', '30', '12', '30', '11', '8']

In [552]:
dfwomensteam=pd.DataFrame({'Name':team,'Matches':matches,'Points':points,'TeamRating':teamratings})
dfwomensteam

           Name Matches Points TeamRating
0     Australia      29  4,837      [167]
1       England      33  4,046      [123]
2  South Africa      35  4,157      [119]
3         India      32  3,219      [101]
4   New Zealand      31  3,019       [97]
5   West Indies      30  2,768       [92]
6    Bangladesh      12    930       [78]
7      Pakistan      30  1,962       [65]
8     Sri Lanka      11    495       [45]
9       Ireland       8    351       [44]

Question 6B:top 10 ODI batsman in Women's cricket along with their team and rating

In [553]:
page6b=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
soup6b=BeautifulSoup(page6b.content)

In [554]:
player=[]
player1=soup6b.find('div',class_="rankings-block__banner--name-large")
player.append(player1.text)
for i in soup6b.find_all('td',class_="table-body__cell rankings-table__name name"):
    player.append(i.text.split())
del player[10:]
player

['Alyssa Healy',
 ['Beth', 'Mooney'],
 ['Natalie', 'Sciver'],
 ['Laura', 'Wolvaardt'],
 ['Meg', 'Lanning'],
 ['Rachael', 'Haynes'],
 ['Amy', 'Satterthwaite'],
 ['Tammy', 'Beaumont'],
 ['Chamari', 'Athapaththu'],
 ['Smriti', 'Mandhana']]

In [555]:
team=[]
t1=soup6b.find('div',class_="rankings-block__banner--nationality")
team.append(t1.text.split())
team
for i in soup6b.find_all('span',class_="table-body__logo-text"):
    team.append(i.text.split())
del team [10:]
team

[['AUS'],
 ['AUS'],
 ['ENG'],
 ['SA'],
 ['AUS'],
 ['AUS'],
 ['NZ'],
 ['ENG'],
 ['SL'],
 ['IND']]

In [556]:
rating=[]
r=soup6b.find('div',class_="rankings-block__banner--rating")
rating.append(r.text.split())
for i in soup6b.find_all('td',class_="table-body__cell rating"):
    rating.append(i.text.split())
del rating [10:]
rating

[['785'],
 ['749'],
 ['747'],
 ['732'],
 ['710'],
 ['701'],
 ['681'],
 ['667'],
 ['655'],
 ['649']]

In [557]:
df_odiwomenbatsman=pd.DataFrame({'Name of the player':player,'Team':team,'Rating':rating})
df_odiwomenbatsman

       Name of the player   Team Rating
0            Alyssa Healy  [AUS]  [785]
1          [Beth, Mooney]  [AUS]  [749]
2       [Natalie, Sciver]  [ENG]  [747]
3      [Laura, Wolvaardt]   [SA]  [732]
4          [Meg, Lanning]  [AUS]  [710]
5       [Rachael, Haynes]  [AUS]  [701]
6    [Amy, Satterthwaite]   [NZ]  [681]
7       [Tammy, Beaumont]  [ENG]  [667]
8  [Chamari, Athapaththu]   [SL]  [655]
9      [Smriti, Mandhana]  [IND]  [649]

c)top 10 ODI bowlers in Women's cricket along with their team and rating

In [558]:
page6c=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling')
soup6c=BeautifulSoup(page6c.content)

In [559]:
bowler=[]
b=soup6c.find('div',class_="rankings-block__banner--name-large")
bowler.append(b.text.split())
for i in soup6c.find_all('td',class_="table-body__cell rankings-table__name name"):
  bowler.append(i.text.split())  
del bowler[10:]
bowler

[['Sophie', 'Ecclestone'],
 ['Jess', 'Jonassen'],
 ['Megan', 'Schutt'],
 ['Shabnim', 'Ismail'],
 ['Jhulan', 'Goswami'],
 ['Ayabonga', 'Khaka'],
 ['Rajeshwari', 'Gayakwad'],
 ['Hayley', 'Matthews'],
 ['Katherine', 'Brunt'],
 ['Marizanne', 'Kapp']]

In [560]:
team=[]
t=soup6c.find('div',class_="rankings-block__banner--nationality")
team.append(t.text.split())

for i in soup6c.find_all('span',class_="table-body__logo-text"):
    team.append(i.text.split())
del team[10:]
team

[['ENG'],
 ['AUS'],
 ['AUS'],
 ['SA'],
 ['IND'],
 ['SA'],
 ['IND'],
 ['WI'],
 ['ENG'],
 ['SA']]

In [561]:
rating=[]
r2=soup6c.find('div',class_="rankings-block__banner--rating")
rating.append(r2.text.split())
for i in soup6c.find_all('td',class_="table-body__cell rating"):
    rating.append(i.text.split())
del rating[10:]
rating

[['761'],
 ['725'],
 ['722'],
 ['722'],
 ['644'],
 ['634'],
 ['613'],
 ['612'],
 ['601'],
 ['598']]

In [562]:
df_odiwomenbowlers=pd.DataFrame({'Name of the player':bowler,'Team':team,'Rating':rating})
df_odiwomenbowlers

       Name of the player   Team Rating
0    [Sophie, Ecclestone]  [ENG]  [761]
1        [Jess, Jonassen]  [AUS]  [725]
2         [Megan, Schutt]  [AUS]  [722]
3       [Shabnim, Ismail]   [SA]  [722]
4       [Jhulan, Goswami]  [IND]  [644]
5       [Ayabonga, Khaka]   [SA]  [634]
6  [Rajeshwari, Gayakwad]  [IND]  [613]
7      [Hayley, Matthews]   [WI]  [612]
8      [Katherine, Brunt]  [ENG]  [601]
9       [Marizanne, Kapp]   [SA]  [598]

Question 7:

In [415]:
page7=requests.get('https://www.cnbc.com/world/?region=world')
soup7=BeautifulSoup(page7.content,'html.parser')
headline=[]
for i in soup7.find_all('a',class_="LatestNews-headline"):
    headline.append(i.text)
headline

['5 things to know before the stock market opens Friday',
 "Britain's star-studded 'Wagatha Christie' libel trial is over: Here's what went down",
 'Susquehanna downgrades Roku citing near-term macro pressures',
 'Stocks making the biggest moves in the premarket: Amazon, Roku, Intel and more',
 "Analysts hail Amazon as a port in the storm after retail giant's strong quarter",
 'Chevron, Exxon post record quarterly profits as commodity prices boom',
 'Higher prices help Procter & Gamble, but Tide maker warns of more challenges',
 "Don't expect a sudden turnaround on supply chain problems, top autos CEO says",
 "Apple's iPhone sales are creating a strong 'moat' for tech giant, analysts say",
 'Bitcoin hits 6-week high topping $24,000 in a post-Fed rally ',
 'Ukraine denies missile strike on Donbas prison; Wagner fighters given front-line duties, UK says ',
 'Cold showers and more: German city turns off the hot water to survive gas cuts',
 'China inches closer to getting alternative iron ore supply from Simandou   ',
 'Euro zone grows 0.7% in the second quarter despite gas crisis, inflation surge',
 "Apple's iPhones held up surprisingly well in China even as the country faced Covid lockdowns",
 'U.S. Treasury yields rise to end the week',
 'Toxic culture and ‘race to the bottom’: Pilots on why air travel is in chaos',
 "New Zealand's borders are fully reopening after more than two years",
 'European markets climb with earnings, economic data on the agenda',
 'Dollar strength is more worrisome than inflation for Asia, economist says',
 'Biden-Xi make plans to meet in person, official says — and China warns on Taiwan',
 "China's Xi is expected to face challenges when he enters unprecedented third term",
 'Amazon says consumer spending remains strong, bucking broader retail gloom',
 "'Churning out good cash': Analyst says a slowdown could boost these global stocks",
 "JPMorgan says buy the dip in growth names, which look 'more interesting' now",
 "Apple's services slowdown is potential concern for investors focused on profit margins",
 'Amazon hopped over a low bar this quarter and guided higher in tough environment',
 "Hong Kong's Hang Seng drops more than 2% with tech stocks under pressure",
 "Apple's supply-constraints weren't as bad as it feared, leading to a strong quarter",
 "Cramer's lightning round: Marqeta is not a buy"]

In [416]:
len(headline)

30

In [396]:
time=[]
for i in soup7.find_all('time',class_="LatestNews-timestamp"):
   time.append(i.text)
time

['13 Min Ago',
 '24 Min Ago',
 '49 Min Ago',
 '52 Min Ago',
 '57 Min Ago',
 '1 Hour Ago',
 '1 Hour Ago',
 '2 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '4 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '8 Hours Ago',
 '8 Hours Ago',
 '10 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '12 Hours Ago',
 '12 Hours Ago',
 '12 Hours Ago',
 '12 Hours Ago',
 '13 Hours Ago',
 '13 Hours Ago',
 '13 Hours Ago',
 '14 Hours Ago']

len(time)

In [461]:
s=BeautifulSoup(page7.content,'html.parser')
linknews=[]
for i in s.find_all('a',class_="LatestNews-headline"):
    linknews.append(i.get('href'))
linknews

['https://www.cnbc.com/2022/07/29/5-things-to-know-before-the-stock-market-opens-friday-july-29.html',
 'https://www.cnbc.com/2022/07/29/-rebekah-vardy-v-coleen-rooney-uk-wagatha-christie-libel-trial-is-over.html',
 'https://www.cnbc.com/2022/07/29/susquehanna-downgrades-roku-citing-near-term-macro-pressure.html',
 'https://www.cnbc.com/2022/07/29/stocks-making-the-biggest-moves-in-the-premarket-amazon-roku-intel-and-more.html',
 'https://www.cnbc.com/2022/07/29/analysts-hail-amazon-as-a-port-in-the-storm-after-the-retail-giants-strong-quarter.html',
 'https://www.cnbc.com/2022/07/29/exxon-xom-and-chevron-cvx-earnings-q2-2022.html',
 'https://www.cnbc.com/2022/07/29/procter-gamble-pg-q4-2022-earnings.html',
 'https://www.cnbc.com/2022/07/29/renault-dont-expect-a-sudden-turnaround-on-supply-chain-problems.html',
 'https://www.cnbc.com/2022/07/29/apples-iphone-sales-creating-a-strong-moat-for-tech-giant-analysts.html',
 'https://www.cnbc.com/2022/07/29/bitcoin-btc-price-rises-following-stocks-higher-in-a-post-fed-rally-.html',
 'https://www.cnbc.com/2022/07/29/russia-ukraine-live-updates.html',
 'https://www.cnbc.com/2022/07/29/hanover-bans-hot-showers-as-russian-gas-crisis-begins-to-bite.html',
 'https://www.cnbc.com/2022/07/29/china-inches-closer-to-getting-alternative-iron-ore-supply-from-simandou-.html',
 'https://www.cnbc.com/2022/07/29/euro-area-gdp-q2-2022-growth-accelerates-for-euro-zone.html',
 'https://www.cnbc.com/2022/07/29/apples-china-iphone-shipments-surge-in-q2-despite-covid-lockdowns.html',
 'https://www.cnbc.com/2022/07/29/us-treasury-yields-edge-lower-after-negative-gdp-reading.html',
 'https://www.cnbc.com/2022/07/29/air-travel-chaos-pilots-describe-toxic-culture-and-airline-errors.html',
 'https://www.cnbc.com/2022/07/29/new-zealands-borders-are-fully-reopening-after-more-than-two-years.html',
 'https://www.cnbc.com/2022/07/29/europe-markets-open-to-close-earnings-economic-data-on-the-agenda.html',
 'https://www.cnbc.com/2022/07/29/dollar-strength-is-more-worrisome-than-inflation-for-asia-economist-says.html',
 'https://www.cnbc.com/2022/07/29/biden-xi-make-plans-to-meet-us-official-says-xi-warns-on-taiwan.html',
 'https://www.cnbc.com/2022/07/29/chinas-xi-faces-major-economic-challenges-says-investor-david-roche.html',
 'https://www.cnbc.com/2022/07/28/amazon-says-consumer-demand-still-strong-bucking-broader-retail-gloom.html',
 'https://www.cnbc.com/2022/07/29/analyst-says-a-slowdown-could-boost-these-global-stocks.html',
 'https://www.cnbc.com/2022/07/29/jpmorgan-buy-the-dip-on-growth-tech-stocks-amid-rebound.html',
 'https://www.cnbc.com/2022/07/28/apples-services-slowdown-in-q3-potential-concern-for-investors-.html',
 'https://www.cnbc.com/2022/07/28/investing-club-amazon-hopped-over-a-low-bar-this-quarter-and-guided-higher-in-tough-environment.html',
 'https://www.cnbc.com/2022/07/29/asia-markets-apple-suppliers-earnings-currencies-oil-wall-street.html',
 'https://www.cnbc.com/2022/07/28/investing-club-apples-supply-constraints-werent-as-bad-as-it-thought-leading-to-a-strong-quarter.html',
 'https://www.cnbc.com/2022/07/28/cramers-lightning-round-marqeta-is-not-a-buy.html']

In [462]:
dfnews=pd.DataFrame({'Headline':headline,'Time':time,'News Link':linknews})

In [463]:
dfnews

,Headline,Time,News Link
0,5 things to know before the stock market opens...,13 Min Ago,https://www.cnbc.com/2022/07/29/5-things-to-kn...
1,Britain's star-studded 'Wagatha Christie' libe...,24 Min Ago,https://www.cnbc.com/2022/07/29/-rebekah-vardy...
2,Susquehanna downgrades Roku citing near-term m...,49 Min Ago,https://www.cnbc.com/2022/07/29/susquehanna-do...
3,Stocks making the biggest moves in the premark...,52 Min Ago,https://www.cnbc.com/2022/07/29/stocks-making-...
4,Analysts hail Amazon as a port in the storm af...,57 Min Ago,https://www.cnbc.com/2022/07/29/analysts-hail-...
5,"Chevron, Exxon post record quarterly profits a...",1 Hour Ago,https://www.cnbc.com/2022/07/29/exxon-xom-and-...
6,"Higher prices help Procter & Gamble, but Tide ...",1 Hour Ago,https://www.cnbc.com/2022/07/29/procter-gamble...
7,Don't expect a sudden turnaround on supply cha...,2 Hours Ago,https://www.cnbc.com/2022/07/29/renault-dont-e...
8,Apple's iPhone sales are creating a strong 'mo...,3 Hours Ago,https://www.cnbc.com/2022/07/29/apples-iphone-...
9,"Bitcoin hits 6-week high topping $24,000 in a ...",3 Hours Ago,https://www.cnbc.com/2022/07/29/bitcoin-btc-pr...
10,Ukraine denies missile strike on Donbas prison...,3 Hours Ago,https://www.cnbc.com/2022/07/29/russia-ukraine...
11,Cold showers and more: German city turns off t...,4 Hours Ago,https://www.cnbc.com/2022/07/29/hanover-bans-h...
12,China inches closer to getting alternative iro...,5 Hours Ago,https://www.cnbc.com/2022/07/29/china-inches-c...
13,Euro zone grows 0.7% in the second quarter des...,5 Hours Ago,https://www.cnbc.com/2022/07/29/euro-area-gdp-...
14,Apple's iPhones held up surprisingly well in C...,7 Hours Ago,https://www.cnbc.com/2022/07/29/apples-china-i...
15,U.S. Treasury yields rise to end the week,7 Hours Ago,https://www.cnbc.com/2022/07/29/us-treasury-yi...
16,Toxic culture and ‘race to the bottom’: Pilots...,8 Hours Ago,https://www.cnbc.com/2022/07/29/air-travel-cha...
17,New Zealand's borders are fully reopening afte...,8 Hours Ago,https://www.cnbc.com/2022/07/29/new-zealands-b...
18,"European markets climb with earnings, economic...",10 Hours Ago,https://www.cnbc.com/2022/07/29/europe-markets...
19,Dollar strength is more worrisome than inflati...,11 Hours Ago,https://www.cnbc.com/2022/07/29/dollar-strengt...
20,"Biden-Xi make plans to meet in person, officia...",11 Hours Ago,https://www.cnbc.com/2022/07/29/biden-xi-make-...
21,China's Xi is expected to face challenges when...,11 Hours Ago,https://www.cnbc.com/2022/07/29/chinas-xi-face...
22,"Amazon says consumer spending remains strong, ...",12 Hours Ago,https://www.cnbc.com/2022/07/28/amazon-says-co...
23,'Churning out good cash': Analyst says a slowd...,12 Hours Ago,https://www.cnbc.com/2022/07/29/analyst-says-a...
24,"JPMorgan says buy the dip in growth names, whi...",12 Hours Ago,https://www.cnbc.com/2022/07/29/jpmorgan-buy-t...
25,Apple's services slowdown is potential concern...,12 Hours Ago,https://www.cnbc.com/2022/07/28/apples-service...
26,Amazon hopped over a low bar this quarter and ...,13 Hours Ago,https://www.cnbc.com/2022/07/28/investing-club...
27,Hong Kong's Hang Seng drops more than 2% with ...,13 Hours Ago,https://www.cnbc.com/2022/07/29/asia-markets-a...
28,Apple's supply-constraints weren't as bad as i...,13 Hours Ago,https://www.cnbc.com/2022/07/28/investing-club...
29,Cramer's lightning round: Marqeta is not a buy,14 Hours Ago,https://www.cnbc.com/2022/07/28/cramers-lightn...

Question 8: program to scrape details of most downloaded articles in last 90 days

In [429]:
page8=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
soup8=BeautifulSoup(page8.content,'html.parser')
articles=[]
for i in soup8.find_all('h2',class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    articles.append(i.text.split())
articles

[['Reward', 'is', 'enough'],
 ['Making', 'sense', 'of', 'raw', 'input'],
 ['Law',
  'and',
  'logic:',
  'A',
  'review',
  'from',
  'an',
  'argumentation',
  'perspective'],
 ['Creativity', 'and', 'artificial', 'intelligence'],
 ['Artificial',
  'cognition',
  'for',
  'social',
  'human–robot',
  'interaction:',
  'An',
  'implementation'],
 ['Explanation',
  'in',
  'artificial',
  'intelligence:',
  'Insights',
  'from',
  'the',
  'social',
  'sciences'],
 ['Making', 'sense', 'of', 'sensory', 'input'],
 ['Conflict-based', 'search', 'for', 'optimal', 'multi-agent', 'pathfinding'],
 ['Between',
  'MDPs',
  'and',
  'semi-MDPs:',
  'A',
  'framework',
  'for',
  'temporal',
  'abstraction',
  'in',
  'reinforcement',
  'learning'],
 ['The',
  'Hanabi',
  'challenge:',
  'A',
  'new',
  'frontier',
  'for',
  'AI',
  'research'],
 ['Evaluating',
  'XAI:',
  'A',
  'comparison',
  'of',
  'rule-based',
  'and',
  'example-based',
  'explanations'],
 ['Argumentation', 'in', 'artificial', 'intelligence'],
 ['Algorithms',
  'for',
  'computing',
  'strategies',
  'in',
  'two-player',
  'simultaneous',
  'move',
  'games'],
 ['Multiple', 'object', 'tracking:', 'A', 'literature', 'review'],
 ['Selection',
  'of',
  'relevant',
  'features',
  'and',
  'examples',
  'in',
  'machine',
  'learning'],
 ['A',
  'survey',
  'of',
  'inverse',
  'reinforcement',
  'learning:',
  'Challenges,',
  'methods',
  'and',
  'progress'],
 ['Explaining',
  'individual',
  'predictions',
  'when',
  'features',
  'are',
  'dependent:',
  'More',
  'accurate',
  'approximations',
  'to',
  'Shapley',
  'values'],
 ['A',
  'review',
  'of',
  'possible',
  'effects',
  'of',
  'cognitive',
  'biases',
  'on',
  'interpretation',
  'of',
  'rule-based',
  'machine',
  'learning',
  'models'],
 ['Integrating',
  'social',
  'power',
  'into',
  'the',
  'decision-making',
  'of',
  'cognitive',
  'agents'],
 ["“That's",
  '(not)',
  'the',
  'output',
  'I',
  'expected!”',
  'On',
  'the',
  'role',
  'of',
  'end',
  'user',
  'expectations',
  'in',
  'creating',
  'explanations',
  'of',
  'AI',
  'systems'],
 ['Explaining',
  'black-box',
  'classifiers',
  'using',
  'post-hoc',
  'explanations-by-example:',
  'The',
  'effect',
  'of',
  'explanations',
  'and',
  'error-rates',
  'in',
  'XAI',
  'user',
  'studies'],
 ['Algorithm', 'runtime', 'prediction:', 'Methods', '&', 'evaluation'],
 ['Wrappers', 'for', 'feature', 'subset', 'selection'],
 ['Commonsense',
  'visual',
  'sensemaking',
  'for',
  'autonomous',
  'driving',
  '–',
  'On',
  'generalised',
  'neurosymbolic',
  'online',
  'abduction',
  'integrating',
  'vision',
  'and',
  'semantics'],
 ['Quantum', 'computation,', 'quantum', 'theory', 'and', 'AI']]

In [431]:
author=[]
for i in soup8.find_all('span',class_="sc-1w3fpd7-0 pgLAT"):
    author.append(i.text)
author

['Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. ',
 'Evans, Richard, Bošnjak, Matko and 5 more',
 'Prakken, Henry, Sartor, Giovanni ',
 'Boden, Margaret A. ',
 'Lemaignan, Séverin, Warnier, Mathieu and 3 more',
 'Miller, Tim ',
 'Evans, Richard, Hernández-Orallo, José and 3 more',
 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R. ',
 'Sutton, Richard S., Precup, Doina, Singh, Satinder ',
 'Bard, Nolan, Foerster, Jakob N. and 13 more',
 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark ',
 'Bench-Capon, T.J.M., Dunne, Paul E. ',
 'Bošanský, Branislav, Lisý, Viliam and 3 more',
 'Luo, Wenhan, Xing, Junliang and 4 more',
 'Blum, Avrim L., Langley, Pat ',
 'Arora, Saurabh, Doshi, Prashant ',
 'Aas, Kjersti, Jullum, Martin, Løland, Anders ',
 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes ',
 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A. ',
 'Riveiro, Maria, Thill, Serge ',
 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T. ',
 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin ',
 'Kohavi, Ron, John, George H. ',
 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna ',
 'Ying, Mingsheng ']

In [434]:
date=[]

In [435]:
for i in soup8.find_all('span',class_="sc-1thf9ly-2 bKddwo"):
  date.append(i.text)
date

['October 2021',
 'October 2021',
 'October 2015',
 'August 1998',
 'June 2017',
 'February 2019',
 'April 2021',
 'February 2015',
 'August 1999',
 'March 2020',
 'February 2021',
 'October 2007',
 'August 2016',
 'April 2021',
 'December 1997',
 'August 2021',
 'September 2021',
 'June 2021',
 'December 2016',
 'September 2021',
 'May 2021',
 'January 2014',
 'December 1997',
 'October 2021',
 'February 2010']

In [456]:
links=[]
for i in soup8.find_all('a',class_="sc-5smygv-0 nrDZj"):
    links.append(i.get('href'))
links

['https://www.sciencedirect.com/science/article/pii/S0004370221000862',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000722',
 'https://www.sciencedirect.com/science/article/pii/S0004370215000910',
 'https://www.sciencedirect.com/science/article/pii/S0004370298000551',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300790',
 'https://www.sciencedirect.com/science/article/pii/S0004370218305988',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301855',
 'https://www.sciencedirect.com/science/article/pii/S0004370214001386',
 'https://www.sciencedirect.com/science/article/pii/S0004370299000521',
 'https://www.sciencedirect.com/science/article/pii/S0004370219300116',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301533',
 'https://www.sciencedirect.com/science/article/pii/S0004370207000793',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300285',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301958',
 'https://www.sciencedirect.com/science/article/pii/S0004370297000635',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000515',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000539',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000096',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300868',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000588',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000102',
 'https://www.sciencedirect.com/science/article/pii/S0004370213001082',
 'https://www.sciencedirect.com/science/article/pii/S000437029700043X',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000734',
 'https://www.sciencedirect.com/science/article/pii/S0004370209001398']

In [458]:
print(len(links),len(date),len(author),len(articles))

25 25 25 25

In [460]:
import pandas as pd
dfarticle=pd.DataFrame({'Article':articles,'Author':author,'Date of Publish':date,'Link':links})
dfarticle

,Article,Author,Date of Publish,Link
0,"[Reward, is, enough]","Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,"[Making, sense, of, raw, input]","Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,"[Law, and, logic:, A, review, from, an, argume...","Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,"[Creativity, and, artificial, intelligence]","Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,"[Artificial, cognition, for, social, human–rob...","Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,"[Explanation, in, artificial, intelligence:, I...","Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,"[Making, sense, of, sensory, input]","Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,"[Conflict-based, search, for, optimal, multi-a...","Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,"[Between, MDPs, and, semi-MDPs:, A, framework,...","Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,"[The, Hanabi, challenge:, A, new, frontier, fo...","Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,"[Evaluating, XAI:, A, comparison, of, rule-bas...","van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,"[Argumentation, in, artificial, intelligence]","Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,"[Algorithms, for, computing, strategies, in, t...","Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,"[Multiple, object, tracking:, A, literature, r...","Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,"[Selection, of, relevant, features, and, examp...","Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,"[A, survey, of, inverse, reinforcement, learni...","Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,"[Explaining, individual, predictions, when, fe...","Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,"[A, review, of, possible, effects, of, cogniti...","Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,"[Integrating, social, power, into, the, decisi...","Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,"[“That's, (not), the, output, I, expected!”, O...","Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,"[Explaining, black-box, classifiers, using, po...","Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,"[Algorithm, runtime, prediction:, Methods, &, ...","Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,"[Wrappers, for, feature, subset, selection]","Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,"[Commonsense, visual, sensemaking, for, autono...","Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"[Quantum, computation,, quantum, theory, and, AI]","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

Question 9: program to scrape details of a site

In [501]:
page9=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
soup9=BeautifulSoup(page9.content,'html.parser')
resname=[]
cuisine=[]
location=[]
rating=[]
imgurl=[]

In [503]:
for i in soup9.find_all('a',class_="restnt-name ellipsis"):
    resname.append(i.text.split())
resname

[['Castle', 'Barbeque'],
 ['Jungle', 'Jamboree'],
 ['Castle', 'Barbeque'],
 ['Cafe', 'Knosh'],
 ['The', 'Barbeque', 'Company'],
 ['India', 'Grill'],
 ['Delhi', 'Barbeque'],
 ['The', 'Monarch', '-', 'Bar', 'Be', 'Que', 'Village'],
 ['Indian', 'Grill', 'Room']]

In [536]:
for i in soup9.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text.split())
location

[['Connaught', 'Place,', 'Central', 'Delhi'],
 ['3CS', 'Mall,Lajpat', 'Nagar', '-', '3,', 'South', 'Delhi'],
 ['Pacific', 'Mall,Tagore', 'Garden,', 'West', 'Delhi'],
 ['The',
  'Leela',
  'Ambience',
  'Convention',
  'Hotel,Shahdara,',
  'East',
  'Delhi'],
 ['Gardens', 'Galleria,Sector', '38A,', 'Noida'],
 ['Hilton', 'Garden', 'Inn,Saket,', 'South', 'Delhi'],
 ['Taurus', 'Sarovar', 'Portico,Mahipalpur,', 'South', 'Delhi'],
 ['Indirapuram', 'Habitat', 'Centre,Indirapuram,', 'Ghaziabad'],
 ['Suncity', 'Business', 'Tower,Golf', 'Course', 'Road,', 'Gurgaon']]

In [526]:
cuisine=[]
for i in soup9.find_all('span',class_="double-line-ellipsis"):
    cuisine.append(i.text.split()[6:])
cuisine

[['North', 'Indian,', 'Chinese'],
 ['North', 'Indian,', 'Asian,', 'Italian'],
 ['Chinese,', 'North', 'Indian'],
 ['Italian,', 'Continental'],
 ['North', 'Indian,', 'Chinese'],
 ['North', 'Indian,', 'Italian'],
 ['North', 'Indian'],
 ['North', 'Indian'],
 ['North', 'Indian,', 'Mughlai']]

In [527]:
rating=[]
for i in soup9.find_all('div',class_="restnt-rating rating-4"):
    rating.append(i.text)
rating

['4.1', '3.9', '3.9', '4.3', '4', '3.9', '3.7', '3.8', '4.3']

In [531]:
imgurl=[]
for i in soup9.find_all('img',class_="no-img"):
    imgurl.append(i.get('data-src'))
imgurl

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/h/c/p3643-144497865356209fdd65746.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/v/f/p52501-16006856545f68865616659.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium']

In [537]:
print(len(resname),len(cuisine),len(location),len(rating),len(imgurl))

9 9 9 9 9

In [538]:
dfdine=pd.DataFrame({'Name':resname,'Location':location,'Cuisine':cuisine,'Rating':rating,'image url':imgurl})
dfdine

,Name,Location,Cuisine,Rating,image url
0,"[Castle, Barbeque]","[Connaught, Place,, Central, Delhi]","[North, Indian,, Chinese]",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,"[Jungle, Jamboree]","[3CS, Mall,Lajpat, Nagar, -, 3,, South, Delhi]","[North, Indian,, Asian,, Italian]",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,"[Castle, Barbeque]","[Pacific, Mall,Tagore, Garden,, West, Delhi]","[Chinese,, North, Indian]",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,"[Cafe, Knosh]","[The, Leela, Ambience, Convention, Hotel,Shahd...","[Italian,, Continental]",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,"[The, Barbeque, Company]","[Gardens, Galleria,Sector, 38A,, Noida]","[North, Indian,, Chinese]",4,https://im1.dineout.co.in/images/uploads/resta...
5,"[India, Grill]","[Hilton, Garden, Inn,Saket,, South, Delhi]","[North, Indian,, Italian]",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,"[Delhi, Barbeque]","[Taurus, Sarovar, Portico,Mahipalpur,, South, ...","[North, Indian]",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,"[The, Monarch, -, Bar, Be, Que, Village]","[Indirapuram, Habitat, Centre,Indirapuram,, Gh...","[North, Indian]",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,"[Indian, Grill, Room]","[Suncity, Business, Tower,Golf, Course, Road,,...","[North, Indian,, Mughlai]",4.3,https://im1.dineout.co.in/images/uploads/resta...

Question 10:python program to scrape the details of top publications from Google Scholar

In [539]:
page10=requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')
soup10=BeautifulSoup(page10.content)

In [540]:
rank=[]
for i in soup10.find_all('td',class_="gsc_mvt_p"):
    rank.append(i.text.split())
rank

[['1.'],
 ['2.'],
 ['3.'],
 ['4.'],
 ['5.'],
 ['6.'],
 ['7.'],
 ['8.'],
 ['9.'],
 ['10.'],
 ['11.'],
 ['12.'],
 ['13.'],
 ['14.'],
 ['15.'],
 ['16.'],
 ['17.'],
 ['18.'],
 ['19.'],
 ['20.'],
 ['21.'],
 ['22.'],
 ['23.'],
 ['24.'],
 ['25.'],
 ['26.'],
 ['27.'],
 ['28.'],
 ['29.'],
 ['30.'],
 ['31.'],
 ['32.'],
 ['33.'],
 ['34.'],
 ['35.'],
 ['36.'],
 ['37.'],
 ['38.'],
 ['39.'],
 ['40.'],
 ['41.'],
 ['42.'],
 ['43.'],
 ['44.'],
 ['45.'],
 ['46.'],
 ['47.'],
 ['48.'],
 ['49.'],
 ['50.'],
 ['51.'],
 ['52.'],
 ['53.'],
 ['54.'],
 ['55.'],
 ['56.'],
 ['57.'],
 ['58.'],
 ['59.'],
 ['60.'],
 ['61.'],
 ['62.'],
 ['63.'],
 ['64.'],
 ['65.'],
 ['66.'],
 ['67.'],
 ['68.'],
 ['69.'],
 ['70.'],
 ['71.'],
 ['72.'],
 ['73.'],
 ['74.'],
 ['75.'],
 ['76.'],
 ['77.'],
 ['78.'],
 ['79.'],
 ['80.'],
 ['81.'],
 ['82.'],
 ['83.'],
 ['84.'],
 ['85.'],
 ['86.'],
 ['87.'],
 ['88.'],
 ['89.'],
 ['90.'],
 ['91.'],
 ['92.'],
 ['93.'],
 ['94.'],
 ['95.'],
 ['96.'],
 ['97.'],
 ['98.'],
 ['99.'],
 ['100.']]

In [542]:
pub=[]
for i in soup10.find_all('td',class_="gsc_mvt_t"):
    pub.append(i.text.split())
pub

[['Nature'],
 ['The', 'New', 'England', 'Journal', 'of', 'Medicine'],
 ['Science'],
 ['IEEE/CVF',
  'Conference',
  'on',
  'Computer',
  'Vision',
  'and',
  'Pattern',
  'Recognition'],
 ['The', 'Lancet'],
 ['Advanced', 'Materials'],
 ['Nature', 'Communications'],
 ['Cell'],
 ['International', 'Conference', 'on', 'Learning', 'Representations'],
 ['Neural', 'Information', 'Processing', 'Systems'],
 ['JAMA'],
 ['Chemical', 'Reviews'],
 ['Proceedings', 'of', 'the', 'National', 'Academy', 'of', 'Sciences'],
 ['Angewandte', 'Chemie'],
 ['Chemical', 'Society', 'Reviews'],
 ['Journal', 'of', 'the', 'American', 'Chemical', 'Society'],
 ['IEEE/CVF', 'International', 'Conference', 'on', 'Computer', 'Vision'],
 ['Nucleic', 'Acids', 'Research'],
 ['International', 'Conference', 'on', 'Machine', 'Learning'],
 ['Nature', 'Medicine'],
 ['Renewable', 'and', 'Sustainable', 'Energy', 'Reviews'],
 ['Science', 'of', 'The', 'Total', 'Environment'],
 ['Advanced', 'Energy', 'Materials'],
 ['Journal', 'of', 'Clinical', 'Oncology'],
 ['ACS', 'Nano'],
 ['Journal', 'of', 'Cleaner', 'Production'],
 ['Advanced', 'Functional', 'Materials'],
 ['Physical', 'Review', 'Letters'],
 ['Scientific', 'Reports'],
 ['The', 'Lancet', 'Oncology'],
 ['Energy', '&', 'Environmental', 'Science'],
 ['IEEE', 'Access'],
 ['PLoS', 'ONE'],
 ['Science', 'Advances'],
 ['Journal', 'of', 'the', 'American', 'College', 'of', 'Cardiology'],
 ['Applied', 'Catalysis', 'B:', 'Environmental'],
 ['Nature', 'Genetics'],
 ['BMJ'],
 ['Circulation'],
 ['European', 'Conference', 'on', 'Computer', 'Vision'],
 ['International', 'Journal', 'of', 'Molecular', 'Sciences'],
 ['Nature', 'Materials'],
 ['Chemical', 'engineering', 'journal'],
 ['AAAI', 'Conference', 'on', 'Artificial', 'Intelligence'],
 ['Journal', 'of', 'Materials', 'Chemistry', 'A'],
 ['ACS', 'Applied', 'Materials', '&', 'Interfaces'],
 ['Nature', 'Biotechnology'],
 ['The', 'Lancet', 'Infectious', 'Diseases'],
 ['Frontiers', 'in', 'Immunology'],
 ['Applied', 'Energy'],
 ['Nano', 'Energy'],
 ['Nature', 'Energy'],
 ['Meeting',
  'of',
  'the',
  'Association',
  'for',
  'Computational',
  'Linguistics',
  '(ACL)'],
 ['The', 'Astrophysical', 'Journal'],
 ['Gastroenterology'],
 ['Nature', 'Methods'],
 ['IEEE',
  'Transactions',
  'on',
  'Pattern',
  'Analysis',
  'and',
  'Machine',
  'Intelligence'],
 ['Cochrane', 'Database', 'of', 'Systematic', 'Reviews'],
 ['Blood'],
 ['Neuron'],
 ['Nano', 'Letters'],
 ['Morbidity', 'and', 'Mortality', 'Weekly', 'Report'],
 ['European', 'Heart', 'Journal'],
 ['Nature', 'Nanotechnology'],
 ['ACS', 'Catalysis'],
 ['Nature', 'Neuroscience'],
 ['American', 'Economic', 'Review'],
 ['Journal', 'of', 'High', 'Energy', 'Physics'],
 ['IEEE', 'Communications', 'Surveys', '&', 'Tutorials'],
 ['Annals', 'of', 'Oncology'],
 ['Nutrients'],
 ['Accounts', 'of', 'Chemical', 'Research'],
 ['Immunity'],
 ['Environmental', 'Science', '&', 'Technology'],
 ['Nature', 'Reviews.', 'Molecular', 'Cell', 'Biology'],
 ['Gut'],
 ['Physical', 'Review', 'D'],
 ['ACS', 'Energy', 'Letters'],
 ['Monthly', 'Notices', 'of', 'the', 'Royal', 'Astronomical', 'Society'],
 ['Conference',
  'on',
  'Empirical',
  'Methods',
  'in',
  'Natural',
  'Language',
  'Processing',
  '(EMNLP)'],
 ['Clinical', 'Infectious', 'Diseases'],
 ['Cell', 'Metabolism'],
 ['Nature', 'Reviews', 'Immunology'],
 ['Joule'],
 ['Nature', 'Photonics'],
 ['International',
  'Journal',
  'of',
  'Environmental',
  'Research',
  'and',
  'Public',
  'Health'],
 ['Environmental', 'Pollution'],
 ['Computers', 'in', 'Human', 'Behavior'],
 ['Frontiers', 'in', 'Microbiology'],
 ['Nature', 'Physics'],
 ['Small'],
 ['Cell', 'Reports'],
 ['Molecular', 'Cell'],
 ['Clinical', 'Cancer', 'Research'],
 ['Bioresource', 'Technology'],
 ['Journal', 'of', 'Business', 'Research'],
 ['Molecular', 'Cancer'],
 ['Sensors'],
 ['Nature', 'Climate', 'Change'],
 ['IEEE', 'Internet', 'of', 'Things', 'Journal']]

In [543]:
index=[]
for i in soup10.find_all('a',class_="gs_ibl gsc_mp_anchor"):
    index.append(i.text)
index

['444',
 '432',
 '401',
 '389',
 '354',
 '312',
 '307',
 '300',
 '286',
 '278',
 '267',
 '265',
 '256',
 '245',
 '244',
 '242',
 '239',
 '238',
 '237',
 '235',
 '227',
 '225',
 '220',
 '213',
 '211',
 '211',
 '210',
 '207',
 '206',
 '202',
 '202',
 '200',
 '198',
 '197',
 '195',
 '192',
 '191',
 '190',
 '189',
 '186',
 '183',
 '181',
 '181',
 '180',
 '178',
 '177',
 '175',
 '173',
 '173',
 '173',
 '172',
 '170',
 '169',
 '167',
 '166',
 '165',
 '165',
 '165',
 '165',
 '164',
 '164',
 '163',
 '163',
 '163',
 '163',
 '162',
 '160',
 '160',
 '159',
 '159',
 '159',
 '159',
 '158',
 '158',
 '155',
 '155',
 '155',
 '155',
 '155',
 '154',
 '153',
 '153',
 '152',
 '152',
 '152',
 '152',
 '152',
 '152',
 '151',
 '151',
 '150',
 '149',
 '149',
 '146',
 '146',
 '145',
 '145',
 '145',
 '144',
 '144']

In [544]:
median=[]
for i in soup10.find_all('span',class_="gs_ibl gsc_mp_anchor"):
    median.append(i.text)
median

['667',
 '780',
 '614',
 '627',
 '635',
 '418',
 '428',
 '505',
 '533',
 '436',
 '425',
 '444',
 '364',
 '332',
 '386',
 '344',
 '415',
 '550',
 '421',
 '389',
 '324',
 '311',
 '300',
 '315',
 '277',
 '273',
 '280',
 '294',
 '274',
 '329',
 '290',
 '303',
 '278',
 '294',
 '276',
 '246',
 '297',
 '307',
 '301',
 '321',
 '253',
 '265',
 '224',
 '296',
 '220',
 '223',
 '315',
 '296',
 '228',
 '217',
 '232',
 '314',
 '304',
 '234',
 '254',
 '296',
 '293',
 '243',
 '229',
 '231',
 '207',
 '302',
 '265',
 '264',
 '220',
 '248',
 '263',
 '220',
 '304',
 '243',
 '214',
 '211',
 '242',
 '214',
 '340',
 '235',
 '217',
 '212',
 '194',
 '249',
 '278',
 '211',
 '292',
 '233',
 '228',
 '225',
 '222',
 '214',
 '225',
 '222',
 '196',
 '205',
 '202',
 '201',
 '190',
 '233',
 '209',
 '201',
 '228',
 '212']

In [545]:
dfscholar=pd.DataFrame({'Rank':rank,'Publication':pub,'H5 index':index,'H5 median':median})

In [546]:
dfscholar

,Rank,Publication,H5 index,H5 median
0,[1.],[Nature],444,667
1,[2.],"[The, New, England, Journal, of, Medicine]",432,780
2,[3.],[Science],401,614
3,[4.],"[IEEE/CVF, Conference, on, Computer, Vision, a...",389,627
4,[5.],"[The, Lancet]",354,635
...,...,...,...,...
95,[96.],"[Journal, of, Business, Research]",145,233
96,[97.],"[Molecular, Cancer]",145,209
97,[98.],[Sensors],145,201
98,[99.],"[Nature, Climate, Change]",144,228
99,[100.],"[IEEE, Internet, of, Things, Journal]",144,212