# importing all the necessary libraries

In [44]:
import pandas as pd
import numpy as np
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException,ElementNotInteractableException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import requests
from bs4 import BeautifulSoup

# Question 1:

In [424]:
# for creating an instance of the driver that would automate scrapping and intercation with the chrome
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [487]:
rank=[]
ranktag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//td[1]')
for i in ranktag[:30]:
    rank.append(i.text)

In [489]:
name=[]
nametag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//td[2]')
for i in nametag[:30]:
    name.append(i.text)

In [490]:
artist=[]
artag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//td[3]')
for i in artag[:30]:
    artist.append(i.text)

In [491]:
views=[]
viewstag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//td[4]')
for i in viewstag[:30]:
    views.append(i.text)

In [492]:
date=[]
datetag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//td[5]')
for i in datetag[:30]:
    date.append(i.text)

In [493]:
df=pd.DataFrame({'Rank':rank,'name of the video':name,'Artist name':artist,'Date':date,'Views in millions':views})

In [494]:
df

,Rank,name of the video,Artist name,Date,Views in millions
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.24
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.96
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.44
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.80
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.62
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.59
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.85
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.68
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.61
9,10.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.53
10,11.,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,"January 31, 2012",4.51
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.31
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",4.05
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.75
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.64
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.63
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.58
17,18.,"""Axel F""[36]",Crazy Frog,"June 16, 2009",3.49
18,18.,"""Thinking Out Loud""[37]",Ed Sheeran,"October 7, 2014",3.49
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.35
20,21.,"""Dark Horse""[39]",Katy Perry,"February 20, 2014",3.34
21,22.,"""Faded""[40]",Alan Walker,"December 3, 2015",3.33
22,23.,"""Girls Like You""[41]",Maroon 5,"May 31, 2018",3.33
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.29
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.26
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.25
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.24
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.23
28,29.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.20
29,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.14

# Question 2

In [72]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('https://www.bcci.tv/')

In [76]:
clk_btn=driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
driver.get(clk_btn.get_attribute('href'))

In [79]:
# declaring the lists
matchtitle=[]
series=[]
place=[]
date=[]
time=[]

In [80]:
mttag=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in mttag:
    matchtitle.append(i.text)

In [82]:
placetag=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in placetag:
    place.append(i.text)

In [83]:
seriestag=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in seriestag:
    series.append(i.text)

In [86]:
datetag=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
timetag=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
for i in datetag:
    date.append(i.text)
for i in timetag:
    time.append(i.text)

In [87]:
df=pd.DataFrame({'Match Title':matchtitle,'Series name':series,'Place':place,'Date':date,'Time':time})

In [88]:
df

,Match Title,Series name,Place,Date,Time
0,1st T20I -,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,"Riverside Ground,",10 SEP 2022,11:30 PM IST
1,2nd T20I -,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,"County Ground,",13 SEP 2022,10:30 PM IST
2,3rd T20I -,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,"County Ground,",15 SEP 2022,11:00 PM IST
3,1st ODI -,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,"County Ground,",18 SEP 2022,3:30 PM IST
4,1st T20I -,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,"Punjab Cricket Association IS Bindra Stadium,",20 SEP 2022,7:30 PM IST
5,2nd ODI -,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,"St Lawrence Ground,",21 SEP 2022,5:30 PM IST
6,2nd T20I -,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,"Vidarbha Cricket Association Stadium,",23 SEP 2022,7:30 PM IST
7,3rd ODI -,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,"Lord's Cricket Ground,",24 SEP 2022,3:30 PM IST

# Question3

In [89]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('https://www.guru99.com/')

In [90]:
seleniumtag=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a')
seleniumtag.click()

In [93]:
pgtag=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a')
driver.get(pgtag.get_attribute('href'))

In [110]:
name=[]
descr=[]

In [111]:
nametag=driver.find_elements(By.XPATH,'//div[@class="entry-content-wrap"]//p//strong')
for i in nametag[1:42]:
    name.append(i.text)

In [112]:
destag=driver.find_elements(By.XPATH,'//div[@class="entry-content-wrap"]//p')
for i in destag[2:43]:
    descr.append(i.text.split()[2:])

In [113]:
df=pd.DataFrame({'Name of the Exception':name,'Description':descr})

In [109]:
len(name)

41

In [108]:
len(descr)

40

In [114]:
df

,Name of the Exception,Description
0,1. ElementNotVisibleException:,"[This, type, of, Selenium, exception, occurs, ..."
1,2. ElementNotSelectableException:,"[This, Selenium, exception, occurs, when, an, ..."
2,3. NoSuchElementException:,"[This, Exception, occurs, if, an, element, cou..."
3,4. NoSuchFrameException:,"[This, Exception, occurs, if, the, frame, targ..."
4,5. NoAlertPresentException:,"[This, Exception, occurs, when, you, switch, t..."
5,6. NoSuchWindowException:,"[This, Exception, occurs, if, the, window, tar..."
6,7. StaleElementReferenceException:,"[This, Selenium, exception, occurs, happens, w..."
7,8. SessionNotFoundException:,"[The, WebDriver, is, acting, after, you, quit,..."
8,9. TimeoutException:,"[Thrown, when, there, is, not, enough, time, f..."
9,10. WebDriverException:,"[This, Exception, takes, place, when, the, Web..."
10,11. ConnectionClosedException:,"[This, type, of, Exception, takes, place, when..."
11,12. ElementClickInterceptedException:,"[The, command, may, not, be, completed, as, th..."
12,13. ElementNotInteractableException:,"[This, Selenium, exception, is, thrown, when, ..."
13,14. ErrorInResponseException:,"[This, happens, while, interacting, with, the,..."
14,15. ErrorHandler.UnknownServerException:,"[Exception, is, used, as, a, placeholder, in, ..."
15,16. ImeActivationFailedException:,"[This, expectation, will, occur, when, IME, en..."
16,17. ImeNotAvailableException:,"[It, takes, place, when, IME, support, is, una..."
17,18. InsecureCertificateException:,"[Navigation, made, the, user, agent, to, hit, ..."
18,19. InvalidArgumentException:,"[It, occurs, when, an, argument, does, not, be..."
19,20. InvalidCookieDomainException:,"[This, happens, when, you, try, to, add, a, co..."
20,21. InvalidCoordinatesException:,"[This, type, of, Exception, matches, an, inter..."
21,22. InvalidElementStateException:,"[It, occurs, when, command, can’t, be, finishe..."
22,23. InvalidSessionIdException:,"[This, Exception, took, place, when, the, give..."
23,24. InvalidSwitchToTargetException:,"[This, occurs, when, the, frame, or, window, t..."
24,25. JavascriptException:,"[This, issue, occurs, while, executing, JavaSc..."
25,26. JsonException:,"[It, occurs, when, you, afford, to, get, the, ..."
26,27. NoSuchAttributeException:,"[This, kind, of, Exception, occurs, when, the,..."
27,28. MoveTargetOutOfBoundsException:,"[It, takes, place, if, the, target, provided, ..."
28,29. NoSuchContextException:,"[ContextAware, does, mobile, device, testing.]"
29,30. NoSuchCookieException:,"[This, Exception, occurs, when, no, cookie, ma..."
30,31. NotFoundException:,"[This, Exception, is, a, subclass, of, WebDriv..."
31,32. RemoteDriverServerException:,"[This, Selenium, exception, is, thrown, when, ..."
32,33. ScreenshotException:,"[It, is, not, possible, to, capture, a, screen.]"
33,34. SessionNotCreatedException:,"[It, happens, when, a, new, session, could, no..."
34,35. UnableToSetCookieException:,"[This, occurs, if, a, driver, is, unable, to, ..."
35,36. UnexpectedTagNameException:,"[Happens, if, a, support, class, did, not, get..."
36,37. UnhandledAlertException:,"[This, expectation, occurs, when, there, is, a..."
37,38. UnexpectedAlertPresentException:,"[It, occurs, when, there, is, the, appearance,..."
38,39. UnknownMethodException:,"[This, Exception, happens, when, the, requeste..."
39,40. UnreachableBrowserException:,"[This, Exception, occurs, only, when, the, bro..."
40,41. UnsupportedCommandException:,"[This, occurs, when, remote, WebDriver, doesn’..."

In [115]:
driver.close()

# Question 4

In [116]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('http://statisticstimes.com/')

In [119]:
ecopagetag=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
try:
    ecopagetag.click()
except ElementNotInteractableException as e:
    print("exception occured",e)
    driver.get(ecopagetag.get_attribute('href'))

exception occured Message: element not interactable
  (Session info: chrome=104.0.5112.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x00295FD3+2187219]
	Ordinal0 [0x0022E6D1+1763025]
	Ordinal0 [0x00143D40+802112]
	Ordinal0 [0x00172C03+994307]
	Ordinal0 [0x001689B3+952755]
	Ordinal0 [0x0018CB8C+1100684]
	Ordinal0 [0x00168394+951188]
	Ordinal0 [0x0018CDA4+1101220]
	Ordinal0 [0x0019CFC2+1167298]
	Ordinal0 [0x0018C9A6+1100198]
	Ordinal0 [0x00166F80+946048]
	Ordinal0 [0x00167E76+949878]
	GetHandleVerifier [0x005390C2+2721218]
	GetHandleVerifier [0x0052AAF0+2662384]
	GetHandleVerifier [0x0032137A+526458]
	GetHandleVerifier [0x00320416+522518]
	Ordinal0 [0x00234EAB+1789611]
	Ordinal0 [0x002397A8+1808296]
	Ordinal0 [0x00239895+1808533]
	Ordinal0 [0x002426C1+1844929]
	BaseThreadInitThunk [0x75B3FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77B87A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77B87A6E+238]
	(No symbol) [0x00000000]

In [121]:
nxtpage=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
nxtpage.click()

In [141]:
rank=[]
state=[]
GSDP18=[]
GSDP17=[]
share=[]
GDP=[]

In [142]:
ranktag=driver.find_elements(By.XPATH,'//td[@class="data1"]')
for i in ranktag[0:33]:
    rank.append(i.text)

In [143]:
sttag=driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in sttag[0:33]:
    state.append(i.text)

In [144]:
gs18tag=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in gs1tag[0:33]:
    GSDP18.append(i.text)

In [145]:
gs17tag=driver.find_elements(By.XPATH,'//td[@class="data"][1]')
for i in gs17tag[0:33]:
    GSDP17.append(i.text)

In [146]:
sharetag=driver.find_elements(By.XPATH,'//td[@class="data"][2]')
for i in sharetag[0:33]:
    share.append(i.text)

In [148]:
gdptag=driver.find_elements(By.XPATH,'//td[@class="data"][3]')
for i in gdptag[0:33]:
    GDP.append(i.text)

In [149]:
df=pd.DataFrame({'Rank':rank,'State name':state,'GSDP 18-19':GSDP17,'GSDP 19-20':GSDP17,'Share in %':share,'GDP in ($billion)':GDP})

In [150]:
df

,Rank,State name,GSDP 18-19,GSDP 19-20,Share in %,GDP in ($billion)
0,1,Maharashtra,-,-,13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,687,818",8.39%,240.726
3,4,Gujarat,-,-,7.96%,228.290
4,5,Karnataka,"1,631,977","1,631,977",7.91%,226.806
5,6,West Bengal,"1,253,832","1,253,832",5.77%,165.556
6,7,Rajasthan,"1,020,989","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"972,782","972,782",4.57%,131.083
8,9,Telangana,"969,604","969,604",4.56%,130.791
9,10,Madhya Pradesh,"906,672","906,672",4.29%,122.977
10,11,Kerala,-,-,4.14%,118.733
11,12,Delhi,"856,112","856,112",4.10%,117.703
12,13,Haryana,"831,610","831,610",3.89%,111.519
13,14,Bihar,"611,804","611,804",2.81%,80.562
14,15,Punjab,"574,760","574,760",2.79%,79.957
15,16,Odisha,"521,275","521,275",2.58%,74.098
16,17,Assam,-,-,1.67%,47.982
17,18,Chhattisgarh,"329,180","329,180",1.61%,46.187
18,19,Jharkhand,"328,598","328,598",1.57%,45.145
19,20,Uttarakhand,-,-,1.30%,37.351
20,21,Jammu & Kashmir,-,-,0.83%,23.690
21,22,Himachal Pradesh,"165,472","165,472",0.81%,23.369
22,23,Goa,"80,449","80,449",0.39%,11.115
23,24,Tripura,"55,984","55,984",0.26%,7.571
24,25,Chandigarh,-,-,0.22%,6.397
25,26,Puducherry,"38,253","38,253",0.18%,5.230
26,27,Meghalaya,"36,572","36,572",0.18%,5.086
27,28,Sikkim,"32,496","32,496",0.15%,4.363
28,29,Manipur,"31,790","31,790",0.15%,4.233
29,30,Nagaland,-,-,0.14%,4.144
30,31,Arunachal Pradesh,-,-,0.13%,3.737
31,32,Mizoram,"26,503","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [151]:
driver.close()

# Question 5

In [502]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('https://github.com/')

In [503]:
# to enter the trending page
trendtag=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
try:
    trendtag.click()
except ElementNotInteractableException as e:
    print("exception occured",e)
    driver.get(trendtag.get_attribute('href'))

exception occured Message: element not interactable
  (Session info: chrome=104.0.5112.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x00295FD3+2187219]
	Ordinal0 [0x0022E6D1+1763025]
	Ordinal0 [0x00143D40+802112]
	Ordinal0 [0x00172C03+994307]
	Ordinal0 [0x001689B3+952755]
	Ordinal0 [0x0018CB8C+1100684]
	Ordinal0 [0x00168394+951188]
	Ordinal0 [0x0018CDA4+1101220]
	Ordinal0 [0x0019CFC2+1167298]
	Ordinal0 [0x0018C9A6+1100198]
	Ordinal0 [0x00166F80+946048]
	Ordinal0 [0x00167E76+949878]
	GetHandleVerifier [0x005390C2+2721218]
	GetHandleVerifier [0x0052AAF0+2662384]
	GetHandleVerifier [0x0032137A+526458]
	GetHandleVerifier [0x00320416+522518]
	Ordinal0 [0x00234EAB+1789611]
	Ordinal0 [0x002397A8+1808296]
	Ordinal0 [0x00239895+1808533]
	Ordinal0 [0x002426C1+1844929]
	BaseThreadInitThunk [0x75B3FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77B87A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77B87A6E+238]
	(No symbol) [0x00000000]

In [512]:
title=[]
descr=[]
count=[]
lang=[]

In [513]:
reptag=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in reptag[0:22]:
    title.append(i.text)

In [514]:
destag=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in destag[0:22]:
    descr.append(i.text)

In [515]:
langtag=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]//span[2]')
for i in langtag[0:22]:
    lang.append(i.text)

In [516]:
counttag=driver.find_elements(By.XPATH,'//a[@class="Link--muted d-inline-block mr-3"][2]')
for i in counttag[0:22]:
    count.append(i.text)

In [517]:
len(lang)

22

In [518]:
len(title)

22

In [519]:
df=pd.DataFrame({'repository title':title,'Description':descr,'Language used':lang,'contributors count':count})

In [520]:
df

,repository title,Description,Language used,contributors count
0,pocketbase /,Open Source realtime backend in 1 file,Go,390
1,alura /,TechGuide main repository with the code that g...,TypeScript,31
2,danielgindi /,Beautiful charts for iOS/tvOS/OSX! The Apple s...,Swift,"5,490"
3,ethereum /,Ethereum.org is a primary online resource for ...,Markdown,"3,100"
4,revanced /,💊 The official ReVanced Manager,Dart,275
5,remix-run /,Declarative routing for React,TypeScript,"9,379"
6,PaddlePaddle /,Awesome pre-trained models toolkit based on Pa...,Python,"1,766"
7,malwaredllc /,An open-source post-exploitation framework for...,Python,"1,921"
8,surrealdb /,"A scalable, distributed, collaborative, docume...",Rust,135
9,ascoders /,前端精读周刊。帮你理解最前沿、实用的技术。,JavaScript,"2,556"
10,hoppscotch /,👽 Open source API development ecosystem - http...,Vue,"3,151"
11,YangLing0818 /,"Diffusion model papers, survey, and taxonomy",PowerShell,18
12,dotnet /,Home repository for .NET Core,Swift,"4,610"
13,Alamofire /,Elegant HTTP Networking in Swift,C++,"7,247"
14,protocolbuffers /,Protocol Buffers - Google's data interchange f...,Python,"14,420"
15,cloud-custodian /,"Rules engine for cloud security, cost optimiza...",C++,"1,200"
16,SerenityOS /,Ladybird web browser,TypeScript,62
17,joaocarvalhoopen /,A guide to the adventurer.,JavaScript,44
18,microsoft /,Playwright is a framework for Web Testing and ...,Java,"2,002"
19,d3 /,"Bring data to life with SVG, Canvas and HTML. 📊📈🎉",Python,"23,171"
20,LSPosed /,LSPosed Framework,TypeScript,976
21,OpenEthan /,短信轰炸/短信测压/ | 一个健壮免费的python短信轰炸程序，专门炸坏蛋蛋，百万接口，多...,C++,"2,024"

# Question 6

In [210]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get(' https:/www.billboard.com/')

In [213]:
# for entering the page with the chart option
chartbtn=driver.find_element(By.XPATH,'/html/body/div[3]/div[6]/div/div/div/ul/li[1]/h3/a')
try:
    chartbtn.click()
except ElementNotInteractableException as e:
    print("exception occured:",e)
    driver.get(chartbtn.get_attribute('href'))

exception occured: Message: element not interactable
  (Session info: chrome=104.0.5112.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x00295FD3+2187219]
	Ordinal0 [0x0022E6D1+1763025]
	Ordinal0 [0x00143D40+802112]
	Ordinal0 [0x00172C03+994307]
	Ordinal0 [0x001689B3+952755]
	Ordinal0 [0x0018CB8C+1100684]
	Ordinal0 [0x00168394+951188]
	Ordinal0 [0x0018CDA4+1101220]
	Ordinal0 [0x0019CFC2+1167298]
	Ordinal0 [0x0018C9A6+1100198]
	Ordinal0 [0x00166F80+946048]
	Ordinal0 [0x00167E76+949878]
	GetHandleVerifier [0x005390C2+2721218]
	GetHandleVerifier [0x0052AAF0+2662384]
	GetHandleVerifier [0x0032137A+526458]
	GetHandleVerifier [0x00320416+522518]
	Ordinal0 [0x00234EAB+1789611]
	Ordinal0 [0x002397A8+1808296]
	Ordinal0 [0x00239895+1808533]
	Ordinal0 [0x002426C1+1844929]
	BaseThreadInitThunk [0x75B3FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77B87A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77B87A6E+238]
	(No symbol) [0x00000000]

In [214]:
# for clicking the billboard 100 songs
billbtn=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a')
billbtn.click()

In [242]:
name=[]
artist=[]
lastweekrank=[]
peakrank=[]
weeks=[]
full=[]

In [244]:
nametag=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]')
for i in nametag:
    full.append(i.text.splitlines())

In [245]:
len(full)

100

In [246]:
i=0
while(i<100):
    name.append(full[i][0])
    i=i+1

In [247]:
i=0
while(i<100):
    artist.append(full[i][1])
    i=i+1

In [248]:
i=0
while(i<100):
    lastweekrank.append(full[i][2])
    i=i+1

In [249]:
i=0
while(i<100):
    peakrank.append(full[i][3])
    i=i+1

In [250]:
i=0
while(i<100):
    weeks.append(full[i][4])
    i=i+1

In [251]:
df=pd.DataFrame({'Song name':name,'Artist name':artist,'Last week rank':lastweekrank,'Peak rank':peakrank,'Weeks on chart':weeks})

In [252]:
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on chart
0,As It Was,Harry Styles,1,1,22
1,Bad Habit,Steve Lacy,3,2,9
2,About Damn Time,Lizzo,2,1,20
3,Running Up That Hill (A Deal With God),Kate Bush,4,3,34
4,Sunroof,Nicky Youre & dazy,6,5,14
...,...,...,...,...,...
95,Thought You Should Know,Morgan Wallen,81,12,17
96,2 Be Loved (Am I Ready),Lizzo,95,84,3
97,Wait In The Truck,HARDY Featuring Lainey Wilson,-,98,1
98,La Corriente,Bad Bunny & Tony Dize,87,32,14
99,"Bzrp Music Sessions, Vol. 52",Bizarrap & Quevedo,82,82,4

In [253]:
driver.close()

# Question 7

In [254]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('https://www.naukri.com/')

In [256]:
bar=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input')
bar.send_keys("Data Science")

In [258]:
clk=driver.find_element(By.XPATH,'//div[@class="qsbSubmit"]')
clk.click()

In [259]:
name=[]
designation=[]
company=[]
skills=[]
loc=[]

In [280]:
nametag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in nametag:
    name.append(i.text)

In [281]:
comtag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in comtag:
    company.append(i.text)

In [283]:
loctag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loctag:
    loc.append(i.text.split())

In [284]:
skilltag=driver.find_elements(By.XPATH,'//ul[@class="tags has-description"]')
for i in skilltag:
    skills.append(i.text.split())

In [285]:
detag=driver.find_elements(By.XPATH,'//div[@class="job-description fs12 grey-text"]')
for i in detag:
    designation.append(i.text)

In [286]:
df=pd.DataFrame({'Name':name,'Company name':company,'Designation':designation,'skills':skills,'Location':loc})

In [287]:
df

,Name,Company name,Designation,skills,Location
0,Senior Manager - Data Science,Xpressbees (BusyBees Logistics Solutions Pvt. ...,Experience in designing and developing solutio...,"[Data, Science, IT, Skills, Python, Machine, L...","[Pune,, Bangalore/Bengaluru]"
1,Lead - Data Science,United Phosphorus Limited,The Data Science Lead will use both management...,"[Data, Science, advanced, analytics, data, ana...",[Bangalore/Bengaluru]
2,Lead - Data Science,United Phosphorus Limited,The Data Science Lead will use both management...,"[Data, Science, advanced, analytics, digital, ...",[Bangalore/Bengaluru]
3,Internship Coursework Program - Machine Learni...,Gilbert Research Center,The 1-months online internship program is offe...,"[Pandas, Programming, C, Programming, Language...",[Remote]
4,Analyst Business Intelligence & Data Science,Ciena,The Ciena Services Business Intelligence & Dat...,"[Data, Science, Business, Intelligence, data, ...",[Gurgaon/Gurugram]
5,Data Science Consultant,ZS Associates India Pvt Ltd,Bachelors or masters degree or PhD in Computer...,"[Data, Science, Life, Sciences, Healthcare, Do...","[Pune,, Gurgaon/Gurugram,, Bangalore/Bengaluru]"
6,Director Data Science,Optum,Knowledge and experience analyzing Medical cla...,"[Data, Science, NLP, Business, Analytics, data...",[Gurgaon/Gurugram]
7,"Senior Scientist, Data Science & Digital",Novartis Healthcare,Deploy state of the art in-silico tools in sta...,"[Automation, Data, analysis, Simulation, Analy...",[Hyderabad/Secunderabad]
8,Senior Analyst-Data Science,Accenture,Skill required: Data Science - Machine Learnin...,"[Publishing, Architecture, Consulting, Machine...",[Mumbai]
9,Senior Analyst - Data Science - IIT/NIT/IIM/XL...,HuQuo,Must have strong capabilities in problem solvi...,"[Data, Science, Python, Tableau, data, analysi...",[Gurgaon/Gurugram]
10,Assistant Manager - Data Science,CitiusTech,"Work with OMICs, image, med device and RWE dat...","[Data, Science, NLP, Machine, Learning, Deep, ...","[Mumbai,, Pune,, Bangalore/Bengaluru]"
11,Looking For Marketing Analytics / Campaign Ana...,Evalueserve,Atleast 3+ years of experience in the field of...,"[machine, learning, ab, tesing, Attribution, M...",[Bangalore/Bengaluru]
12,Looking For Group Manager-Data Science(CPG) Fo...,Evalueserve,Atleast 10+ years of experience in the field o...,"[python, data, science, machine, learning, Bay...",[Bangalore/Bengaluru]
13,Looking For Group Manager-Data Science( Retail...,Evalueserve,"We are looking for exceptional individuals, wh...","[python, data, science, iri, CART/CHAID, data,...",[Bangalore/Bengaluru]
14,Looking For Campaign Analytics (Data Science) ...,Evalueserve,Atleast 3+ years of experience in the field of...,"[Campaign, Designing, Media, Mix, Modelling, m...",[Bangalore/Bengaluru]
15,Technology Lead - Data Science / Machine Learning,Infosys,Bachelor of Engineering Good understanding of ...,"[Machine, Learning, Data, Science, agile, meth...",[Bangalore/Bengaluru]
16,Data Science Senior Analyst,Accenture,Must Have Good to have Human Resources experie...,"[Business, process, Mining, Statistical, model...",[Kolkata]
17,Manager - Data Science - Banking & Financial S...,Black Turtle,ONLY FEMALE TIER1 INSTITUTES ONLYAcademic Back...,"[Financial, Services, Leadership, R, Hive, SAS...","[Delhi, /, NCR,, Bangalore/Bengaluru]"
18,Senior Software Developer - NLP/Machine Learni...,CuneSoft,"The individual should be self-motivated, creat...","[Data, Science, C#, .Net, OpenNLP, R, Studio, ...",[Bangalore/Bengaluru]

In [288]:
driver.close()

# question 8

In [289]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [309]:
book=[]
author=[]
pub=[]
vol=[]
genre=[]

In [310]:
nametag=driver.find_elements(By.XPATH,'//td[@class="left"][2]')
for i in nametag:
    book.append(i.text.split())

In [311]:
autag=driver.find_elements(By.XPATH,'//td[@class="left"][3]')
for i in autag:
    author.append(i.text.split())

In [312]:
voltag=driver.find_elements(By.XPATH,'//td[@class="left"][4]')
for i in voltag:
    vol.append(i.text)

In [313]:
pubtag=driver.find_elements(By.XPATH,'//td[@class="left"][5]')
for i in pubtag:
    pub.append(i.text)

In [314]:
gentag=driver.find_elements(By.XPATH,'//td[@class="last left"]')
for i in gentag:
    genre.append(i.text)

In [315]:
df=pd.DataFrame({'Book Name':book,'Author name':author,'volumes sold':vol,'publisher of the book':pub,'Genre':genre})

In [316]:
df

,Book Name,Author name,volumes sold,publisher of the book,Genre
0,"[Da, Vinci, Code,The]","[Brown,, Dan]","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,"[Harry, Potter, and, the, Deathly, Hallows]","[Rowling,, J.K.]","4,475,152",Bloomsbury,Children's Fiction
2,"[Harry, Potter, and, the, Philosopher's, Stone]","[Rowling,, J.K.]","4,200,654",Bloomsbury,Children's Fiction
3,"[Harry, Potter, and, the, Order, of, the, Phoe...","[Rowling,, J.K.]","4,179,479",Bloomsbury,Children's Fiction
4,"[Fifty, Shades, of, Grey]","[James,, E., L.]","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"[Ghost,The]","[Harris,, Robert]","807,311",Random House,General & Literary Fiction
96,"[Happy, Days, with, the, Naked, Chef]","[Oliver,, Jamie]","794,201",Penguin,Food & Drink: General
97,"[Hunger, Games,The:Hunger, Games, Trilogy]","[Collins,, Suzanne]","792,187",Scholastic Ltd.,Young Adult Fiction
98,"[Lost, Boy,The:A, Foster, Child's, Search, for...","[Pelzer,, Dave]","791,507",Orion,Biography: General
99,"[Jamie's, Ministry, of, Food:Anyone, Can, Lear...","[Oliver,, Jamie]","791,095",Penguin,Food & Drink: General

In [317]:
driver.close()

# Question 9

In [319]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('https://www.imdb.com/list/ls095964455/')

In [330]:
#initialisation of the arrays
name=[]
genre=[]
runtime=[]
years=[]
rating=[]
voting=[]

In [331]:
nametag=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]//a')
for i in nametag:
    name.append(i.text)

In [332]:
yeartag=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in yeartag:
    years.append(i.text)

In [333]:
gentag=driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in gentag:
    genre.append(i.text)

In [334]:
timetag=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in timetag:
    runtime.append(i.text)

In [335]:
vottag=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"][3]')
for i in vottag:
    voting.append(i.text.split()[1])

In [336]:
rattag=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
for i in rattag:
    rating.append(i.text)

In [337]:
df=pd.DataFrame({'Name':name,'Run time':runtime,'Span of years':years,'voting':voting,'rating':rating,'Genre':genre})

In [338]:
df

,Name,Run time,Span of years,voting,rating,Genre
0,Game of Thrones,57 min,(2011–2019),"2,047,355",9.2,"Action, Adventure, Drama"
1,Stranger Things,51 min,(2016– ),"1,143,820",8.7,"Drama, Fantasy, Horror"
2,The Walking Dead,44 min,(2010–2022),"967,711",8.1,"Drama, Horror, Thriller"
3,13 Reasons Why,60 min,(2017–2020),"288,699",7.5,"Drama, Mystery, Thriller"
4,The 100,43 min,(2014–2020),"248,273",7.6,"Drama, Mystery, Sci-Fi"
...,...,...,...,...,...,...
95,Reign,42 min,(2013–2017),"49,533",7.4,Drama
96,A Series of Unfortunate Events,50 min,(2017–2019),"60,541",7.8,"Adventure, Comedy, Drama"
97,Criminal Minds,42 min,(2005–2020),"194,704",8.1,"Crime, Drama, Mystery"
98,Scream: The TV Series,45 min,(2015–2019),"41,011",7.1,"Comedy, Crime, Drama"
99,The Haunting of Hill House,572 min,(2018),"236,225",8.6,"Drama, Horror, Mystery"

In [339]:
driver.close()

# Question 10

In [340]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('https://archive.ics.uci.edu/')

In [341]:
btn=driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/span/b/a')
btn.click()

In [390]:
name=[]
datatype=[]
task=[]
att=[]
instance=[]
attno=[]
year=[]
total=[]

In [391]:
nametag=driver.find_elements(By.XPATH,'//p[@class="normal"]//b//a')
for i in nametag:
    name.append(i.text)

In [392]:
len(name)

622

In [393]:
# this element will contain details of entire table
datatag=driver.find_elements(By.XPATH,'//p[@class="normal"][1]')
for i in datatag[8:]:
    total.append(i.text.split())

In [394]:
l=len(total)
print(l)

4356

In [369]:
#total array contains details of the entire table
total

[['Abalone'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer,', 'Real'],
 ['4177'],
 ['8'],
 ['1995'],
 ['Adult'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer'],
 ['48842'],
 ['14'],
 ['1996'],
 ['Annealing'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer,', 'Real'],
 ['798'],
 ['38'],
 [],
 ['Anonymous', 'Microsoft', 'Web', 'Data'],
 [],
 ['Recommender-Systems'],
 ['Categorical'],
 ['37711'],
 ['294'],
 ['1998'],
 ['Arrhythmia'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer,', 'Real'],
 ['452'],
 ['279'],
 ['1998'],
 ['Artificial', 'Characters'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer,', 'Real'],
 ['6000'],
 ['7'],
 ['1992'],
 ['Audiology', '(Original)'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical'],
 ['226'],
 [],
 ['1987'],
 ['Audiology', '(Standardized)'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical'],
 ['226'],
 ['69'],
 ['1992'],
 ['Auto', 'MPG'],
 ['Multivariate'],
 ['Regression'],
 ['Categorical,', 'Real'],
 ['398'],
 ['8'],
 ['1993'],
 ['Automobile'],
 ['Multivariate'],
 ['Regression'],
 ['Categorical,', 'Integer,', 'Real'],
 ['205'],
 ['26'],
 ['1987'],
 ['Badges'],
 ['Univariate,', 'Text'],
 ['Classification'],
 [],
 ['294'],
 ['1'],
 ['1994'],
 ['Balance', 'Scale'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical'],
 ['625'],
 ['4'],
 ['1994'],
 ['Balloons'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical'],
 ['16'],
 ['4'],
 [],
 ['Breast', 'Cancer'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical'],
 ['286'],
 ['9'],
 ['1988'],
 ['Breast', 'Cancer', 'Wisconsin', '(Original)'],
 ['Multivariate'],
 ['Classification'],
 ['Integer'],
 ['699'],
 ['10'],
 ['1992'],
 ['Breast', 'Cancer', 'Wisconsin', '(Prognostic)'],
 ['Multivariate'],
 ['Classification,', 'Regression'],
 ['Real'],
 ['198'],
 ['34'],
 ['1995'],
 ['Breast', 'Cancer', 'Wisconsin', '(Diagnostic)'],
 ['Multivariate'],
 ['Classification'],
 ['Real'],
 ['569'],
 ['32'],
 ['1995'],
 ['Pittsburgh', 'Bridges'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer'],
 ['108'],
 ['13'],
 ['1990'],
 ['Car', 'Evaluation'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical'],
 ['1728'],
 ['6'],
 ['1997'],
 ['Census', 'Income'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer'],
 ['48842'],
 ['14'],
 ['1996'],
 ['Chess', '(King-Rook', 'vs.', 'King-Knight)'],
 ['Multivariate,', 'Data-Generator'],
 ['Classification'],
 ['Categorical,', 'Integer'],
 [],
 ['22'],
 ['1988'],
 ['Chess', '(King-Rook', 'vs.', 'King-Pawn)'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical'],
 ['3196'],
 ['36'],
 ['1989'],
 ['Chess', '(King-Rook', 'vs.', 'King)'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer'],
 ['28056'],
 ['6'],
 ['1994'],
 ['Chess', '(Domain', 'Theories)'],
 ['Domain-Theory'],
 [],
 [],
 [],
 [],
 [],
 ['Bach', 'Chorales'],
 ['Univariate,', 'Time-Series'],
 [],
 ['Categorical,', 'Integer'],
 ['100'],
 ['6'],
 [],
 ['Connect-4'],
 ['Multivariate,', 'Spatial'],
 ['Classification'],
 ['Categorical'],
 ['67557'],
 ['42'],
 ['1995'],
 ['Credit', 'Approval'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer,', 'Real'],
 ['690'],
 ['15'],
 [],
 ['Japanese', 'Credit', 'Screening'],
 ['Multivariate,', 'Domain-Theory'],
 ['Classification'],
 ['Categorical,', 'Real,', 'Integer'],
 ['125'],
 [],
 ['1992'],
 ['Computer', 'Hardware'],
 ['Multivariate'],
 ['Regression'],
 ['Integer'],
 ['209'],
 ['9'],
 ['1987'],
 ['Contraceptive', 'Method', 'Choice'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer'],
 ['1473'],
 ['9'],
 ['1997'],
 ['Covertype'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer'],
 ['581012'],
 ['54'],
 ['1998'],
 ['Cylinder', 'Bands'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer,', 'Real'],
 ['512'],
 ['39'],
 ['1995'],
 ['Dermatology'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer'],
 ['366'],
 ['33'],
 ['1998'],
 ['Diabetes'],
 ['Multivariate,', 'Time-Series'],
 [],
 ['Categorical,', 'Integer'],
 [],
 ['20'],
 [],
 ['DGP2', '-', 'The', 'Second', 'Data', 'Generation', 'Program'],
 ['Data-Generator'],
 [],
 ['Real'],
 [],
 [],
 [],
 ['Document', 'Understanding'],
 [],
 [],
 [],
 [],
 [],
 ['1994'],
 ['EBL', 'Domain', 'Theories'],
 [],
 [],
 [],
 [],
 [],
 [],
 ['Echocardiogram'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer,', 'Real'],
 ['132'],
 ['12'],
 ['1989'],
 ['Ecoli'],
 ['Multivariate'],
 ['Classification'],
 ['Real'],
 ['336'],
 ['8'],
 ['1996'],
 ['Flags'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer'],
 ['194'],
 ['30'],
 ['1990'],
 ['Function', 'Finding'],
 [],
 ['Function-Learning'],
 ['Real'],
 ['352'],
 [],
 ['1990'],
 ['Glass', 'Identification'],
 ['Multivariate'],
 ['Classification'],
 ['Real'],
 ['214'],
 ['10'],
 ['1987'],
 ["Haberman's", 'Survival'],
 ['Multivariate'],
 ['Classification'],
 ['Integer'],
 ['306'],
 ['3'],
 ['1999'],
 ['Hayes-Roth'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical'],
 ['160'],
 ['5'],
 ['1989'],
 ['Heart', 'Disease'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer,', 'Real'],
 ['303'],
 ['75'],
 ['1988'],
 ['Hepatitis'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer,', 'Real'],
 ['155'],
 ['19'],
 ['1988'],
 ['Horse', 'Colic'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer,', 'Real'],
 ['368'],
 ['27'],
 ['1989'],
 ['ICU'],
 ['Multivariate,', 'Time-Series'],
 [],
 ['Real'],
 [],
 [],
 [],
 ['Image', 'Segmentation'],
 ['Multivariate'],
 ['Classification'],
 ['Real'],
 ['2310'],
 ['19'],
 ['1990'],
 ['Internet', 'Advertisements'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer,', 'Real'],
 ['3279'],
 ['1558'],
 ['1998'],
 ['Ionosphere'],
 ['Multivariate'],
 ['Classification'],
 ['Integer,', 'Real'],
 ['351'],
 ['34'],
 ['1989'],
 ['Iris'],
 ['Multivariate'],
 ['Classification'],
 ['Real'],
 ['150'],
 ['4'],
 ['1988'],
 ['ISOLET'],
 ['Multivariate'],
 ['Classification'],
 ['Real'],
 ['7797'],
 ['617'],
 ['1994'],
 ['Kinship'],
 ['Relational'],
 ['Relational-Learning'],
 ['Categorical'],
 ['104'],
 ['12'],
 ['1990'],
 ['Labor', 'Relations'],
 ['Multivariate'],
 [],
 ['Categorical,', 'Integer,', 'Real'],
 ['57'],
 ['16'],
 ['1988'],
 ['LED', 'Display', 'Domain'],
 ['Multivariate,', 'Data-Generator'],
 ['Classification'],
 ['Categorical'],
 [],
 ['7'],
 ['1988'],
 ['Lenses'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical'],
 ['24'],
 ['4'],
 ['1990'],
 ['Letter', 'Recognition'],
 ['Multivariate'],
 ['Classification'],
 ['Integer'],
 ['20000'],
 ['16'],
 ['1991'],
 ['Liver', 'Disorders'],
 ['Multivariate'],
 [],
 ['Categorical,', 'Integer,', 'Real'],
 ['345'],
 ['7'],
 ['1990'],
 ['Logic', 'Theorist'],
 ['Domain-Theory'],
 [],
 [],
 [],
 [],
 [],
 ['Lung', 'Cancer'],
 ['Multivariate'],
 ['Classification'],
 ['Integer'],
 ['32'],
 ['56'],
 ['1992'],
 ['Lymphography'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical'],
 ['148'],
 ['18'],
 ['1988'],
 ['Mechanical', 'Analysis'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer,', 'Real'],
 ['209'],
 ['8'],
 ['1990'],
 ['Meta-data'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer,', 'Real'],
 ['528'],
 ['22'],
 ['1996'],
 ['Mobile', 'Robots'],
 ['Domain-Theory'],
 [],
 ['Categorical,', 'Integer,', 'Real'],
 [],
 [],
 ['1995'],
 ['Molecular', 'Biology', '(Promoter', 'Gene', 'Sequences)'],
 ['Sequential,', 'Domain-Theory'],
 ['Classification'],
 ['Categorical'],
 ['106'],
 ['58'],
 ['1990'],
 ['Molecular', 'Biology', '(Protein', 'Secondary', 'Structure)'],
 ['Sequential'],
 ['Classification'],
 ['Categorical'],
 ['128'],
 [],
 [],
 ['Molecular', 'Biology', '(Splice-junction', 'Gene', 'Sequences)'],
 ['Sequential,', 'Domain-Theory'],
 ['Classification'],
 ['Categorical'],
 ['3190'],
 ['61'],
 ['1992'],
 ["MONK's", 'Problems'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical'],
 ['432'],
 ['7'],
 ['1992'],
 ['Moral', 'Reasoner'],
 ['Domain-Theory'],
 [],
 [],
 ['202'],
 [],
 ['1994'],
 ['Multiple', 'Features'],
 ['Multivariate'],
 ['Classification'],
 ['Integer,', 'Real'],
 ['2000'],
 ['649'],
 [],
 ['Mushroom'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical'],
 ['8124'],
 ['22'],
 ['1987'],
 ['Musk', '(Version', '1)'],
 ['Multivariate'],
 ['Classification'],
 ['Integer'],
 ['476'],
 ['168'],
 ['1994'],
 ['Musk', '(Version', '2)'],
 ['Multivariate'],
 ['Classification'],
 ['Integer'],
 ['6598'],
 ['168'],
 ['1994'],
 ['Nursery'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical'],
 ['12960'],
 ['8'],
 ['1997'],
 ['Othello', 'Domain', 'Theory'],
 ['Domain-Theory'],
 [],
 [],
 [],
 [],
 ['1991'],
 ['Page', 'Blocks', 'Classification'],
 ['Multivariate'],
 ['Classification'],
 ['Integer,', 'Real'],
 ['5473'],
 ['10'],
 ['1995'],
 ['Optical', 'Recognition', 'of', 'Handwritten', 'Digits'],
 ['Multivariate'],
 ['Classification'],
 ['Integer'],
 ['5620'],
 ['64'],
 ['1998'],
 ['Pen-Based', 'Recognition', 'of', 'Handwritten', 'Digits'],
 ['Multivariate'],
 ['Classification'],
 ['Integer'],
 ['10992'],
 ['16'],
 ['1998'],
 ['Post-Operative', 'Patient'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer'],
 ['90'],
 ['8'],
 ['1993'],
 ['Primary', 'Tumor'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical'],
 ['339'],
 ['17'],
 ['1988'],
 ['Prodigy'],
 ['Domain-Theory'],
 [],
 [],
 [],
 [],
 [],
 ['Qualitative', 'Structure', 'Activity', 'Relationships'],
 ['Domain-Theory'],
 [],
 [],
 [],
 [],
 [],
 ['Quadruped', 'Mammals'],
 ['Multivariate,', 'Data-Generator'],
 ['Classification'],
 ['Real'],
 [],
 ['72'],
 ['1992'],
 ['Servo'],
 ['Multivariate'],
 ['Regression'],
 ['Categorical,', 'Integer'],
 ['167'],
 ['4'],
 ['1993'],
 ['Shuttle', 'Landing', 'Control'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical'],
 ['15'],
 ['6'],
 ['1988'],
 ['Solar', 'Flare'],
 ['Multivariate'],
 ['Regression'],
 ['Categorical'],
 ['1389'],
 ['10'],
 ['1989'],
 ['Soybean', '(Large)'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical'],
 ['307'],
 ['35'],
 ['1988'],
 ['Soybean', '(Small)'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical'],
 ['47'],
 ['35'],
 ['1987'],
 ['Challenger', 'USA', 'Space', 'Shuttle', 'O-Ring'],
 ['Multivariate'],
 ['Regression'],
 ['Integer'],
 ['23'],
 ['4'],
 ['1993'],
 ['Low', 'Resolution', 'Spectrometer'],
 ['Multivariate'],
 ['Classification'],
 ['Integer,', 'Real'],
 ['531'],
 ['102'],
 ['1988'],
 ['Spambase'],
 ['Multivariate'],
 ['Classification'],
 ['Integer,', 'Real'],
 ['4601'],
 ['57'],
 ['1999'],
 ['SPECT', 'Heart'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical'],
 ['267'],
 ['22'],
 ['2001'],
 ['SPECTF', 'Heart'],
 ['Multivariate'],
 ['Classification'],
 ['Integer'],
 ['267'],
 ['44'],
 ['2001'],
 ['Sponge'],
 ['Multivariate'],
 ['Clustering'],
 ['Categorical,', 'Integer'],
 ['76'],
 ['45'],
 [],
 ['Statlog', 'Project'],
 [],
 [],
 [],
 [],
 [],
 ['1992'],
 ['Student', 'Loan', 'Relational'],
 ['Domain-Theory'],
 [],
 [],
 ['1000'],
 [],
 ['1993'],
 ['Teaching', 'Assistant', 'Evaluation'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer'],
 ['151'],
 ['5'],
 ['1997'],
 ['Tic-Tac-Toe', 'Endgame'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical'],
 ['958'],
 ['9'],
 ['1991'],
 ['Thyroid', 'Disease'],
 ['Multivariate,', 'Domain-Theory'],
 ['Classification'],
 ['Categorical,', 'Real'],
 ['7200'],
 ['21'],
 ['1987'],
 ['Trains'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical'],
 ['10'],
 ['32'],
 ['1994'],
 ['University'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer'],
 ['285'],
 ['17'],
 ['1988'],
 ['Congressional', 'Voting', 'Records'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical'],
 ['435'],
 ['16'],
 ['1987'],
 ['Water', 'Treatment', 'Plant'],
 ['Multivariate'],
 ['Clustering'],
 ['Integer,', 'Real'],
 ['527'],
 ['38'],
 ['1993'],
 ['Waveform', 'Database', 'Generator', '(Version', '1)'],
 ['Multivariate,', 'Data-Generator'],
 ['Classification'],
 ['Real'],
 ['5000'],
 ['21'],
 ['1988'],
 ['Waveform', 'Database', 'Generator', '(Version', '2)'],
 ['Multivariate,', 'Data-Generator'],
 ['Classification'],
 ['Real'],
 ['5000'],
 ['40'],
 ['1988'],
 ['Wine'],
 ['Multivariate'],
 ['Classification'],
 ['Integer,', 'Real'],
 ['178'],
 ['13'],
 ['1991'],
 ['Yeast'],
 ['Multivariate'],
 ['Classification'],
 ['Real'],
 ['1484'],
 ['8'],
 ['1996'],
 ['Zoo'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer'],
 ['101'],
 ['17'],
 ['1990'],
 ['Undocumented'],
 [],
 [],
 [],
 [],
 [],
 [],
 ['Twenty', 'Newsgroups'],
 ['Text'],
 [],
 [],
 ['20000'],
 [],
 ['1999'],
 ['Australian', 'Sign', 'Language', 'signs'],
 ['Multivariate,', 'Time-Series'],
 ['Classification'],
 ['Categorical,', 'Real'],
 ['6650'],
 ['15'],
 ['1999'],
 ['Australian', 'Sign', 'Language', 'signs', '(High', 'Quality)'],
 ['Multivariate,', 'Time-Series'],
 ['Classification'],
 ['Real'],
 ['2565'],
 ['22'],
 ['2002'],
 ['US', 'Census', 'Data', '(1990)'],
 ['Multivariate'],
 ['Clustering'],
 ['Categorical'],
 ['2458285'],
 ['68'],
 [],
 ['Census-Income', '(KDD)'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer'],
 ['299285'],
 ['40'],
 ['2000'],
 ['Coil', '1999', 'Competition', 'Data'],
 ['Multivariate'],
 [],
 ['Categorical,', 'Real'],
 ['340'],
 ['17'],
 ['1999'],
 ['Corel', 'Image', 'Features'],
 ['Multivariate'],
 [],
 ['Real'],
 ['68040'],
 ['89'],
 ['1999'],
 ['E.', 'Coli', 'Genes'],
 ['Relational'],
 [],
 [],
 [],
 [],
 ['2001'],
 ['EEG', 'Database'],
 ['Multivariate,', 'Time-Series'],
 [],
 ['Categorical,', 'Integer,', 'Real'],
 ['122'],
 ['4'],
 ['1999'],
 ['El', 'Nino'],
 ['Spatio-temporal'],
 [],
 ['Integer,', 'Real'],
 ['178080'],
 ['12'],
 ['1999'],
 ['Entree', 'Chicago', 'Recommendation', 'Data'],
 ['Transactional,', 'Sequential'],
 ['Recommender-Systems'],
 ['Categorical'],
 ['50672'],
 [],
 ['2000'],
 ['CMU', 'Face', 'Images'],
 ['Image'],
 ['Classification'],
 ['Integer'],
 ['640'],
 [],
 ['1999'],
 ['Insurance', 'Company', 'Benchmark', '(COIL', '2000)'],
 ['Multivariate'],
 ['Regression,', 'Description'],
 ['Categorical,', 'Integer'],
 ['9000'],
 ['86'],
 ['2000'],
 ['Internet', 'Usage', 'Data'],
 ['Multivariate'],
 [],
 ['Categorical,', 'Integer'],
 ['10104'],
 ['72'],
 ['1999'],
 ['IPUMS', 'Census', 'Database'],
 ['Multivariate'],
 [],
 ['Categorical,', 'Integer'],
 ['256932'],
 ['61'],
 ['1999'],
 ['Japanese', 'Vowels'],
 ['Multivariate,', 'Time-Series'],
 ['Classification'],
 ['Real'],
 ['640'],
 ['12'],
 [],
 ['KDD', 'Cup', '1998', 'Data'],
 ['Multivariate'],
 ['Regression'],
 ['Categorical,', 'Integer'],
 ['191779'],
 ['481'],
 ['1998'],
 ['KDD', 'Cup', '1999', 'Data'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer'],
 ['4000000'],
 ['42'],
 ['1999'],
 ['M.', 'Tuberculosis', 'Genes'],
 ['Relational'],
 [],
 [],
 [],
 [],
 ['2001'],
 ['Movie'],
 ['Multivariate,', 'Relational'],
 [],
 [],
 ['10000'],
 [],
 ['1999'],
 ['MSNBC.com', 'Anonymous', 'Web', 'Data'],
 ['Sequential'],
 [],
 ['Categorical'],
 ['989818'],
 [],
 [],
 ['NSF', 'Research', 'Award', 'Abstracts', '1990-2003'],
 ['Text'],
 [],
 [],
 ['129000'],
 [],
 ['2003'],
 ['Pioneer-1', 'Mobile', 'Robot', 'Data'],
 ['Multivariate,', 'Time-Series'],
 [],
 ['Categorical,', 'Real'],
 [],
 [],
 ['1999'],
 ['Pseudo', 'Periodic', 'Synthetic', 'Time', 'Series'],
 ['Univariate,', 'Time-Series'],
 [],
 [],
 ['100000'],
 [],
 ['1999'],
 ['Reuters-21578', 'Text', 'Categorization', 'Collection'],
 ['Text'],
 ['Classification'],
 ['Categorical'],
 ['21578'],
 ['5'],
 ['1997'],
 ['Robot', 'Execution', 'Failures'],
 ['Multivariate,', 'Time-Series'],
 ['Classification'],
 ['Integer'],
 ['463'],
 ['90'],
 ['1999'],
 ['Synthetic', 'Control', 'Chart', 'Time', 'Series'],
 ['Time-Series'],
 ['Classification,', 'Clustering'],
 ['Real'],
 ['600'],
 [],
 ['1999'],
 ['Syskill', 'and', 'Webert', 'Web', 'Page', 'Ratings'],
 ['Multivariate,', 'Text'],
 ['Classification'],
 ['Categorical'],
 ['332'],
 ['5'],
 ['1998'],
 ['UNIX', 'User', 'Data'],
 ['Text,', 'Sequential'],
 [],
 [],
 [],
 [],
 [],
 ['Volcanoes', 'on', 'Venus', '-', 'JARtool', 'experiment'],
 ['Image'],
 ['Classification'],
 [],
 [],
 [],
 [],
 ['Statlog', '(Australian', 'Credit', 'Approval)'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer,', 'Real'],
 ['690'],
 ['14'],
 [],
 ['Statlog', '(German', 'Credit', 'Data)'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Integer'],
 ['1000'],
 ['20'],
 ['1994'],
 ['Statlog', '(Heart)'],
 ['Multivariate'],
 ['Classification'],
 ['Categorical,', 'Real'],
 ['270'],
 ['13'],
 ...]

In [407]:
#appending the datatype
datatype=[]
i=1
while i<l:
    datatype.append(total[i])
    i=i+7
datatype.pop(len(datatype)-1)

['In', 'Collaboration', 'With:']

In [412]:
#appending the tasktype
task=[]
i=2
while i<l:
    task.append(total[i])
    i=i+7

In [413]:
#appending the attribute type
att=[]
i=3
while i<l:
    att.append(total[i])
    i=i+7

In [415]:
#appending the number of totalinstances
instance=[]
i=4
while i<l:
    instance.append(total[i])
    i=i+7

In [417]:
#appending the number of attributes
attno=[]
i=5
while i<l:
    attno.append(total[i])
    i=i+7

In [418]:
#appending the year
year=[]
i=6
while i<l:
    year.append(total[i])
    i=i+7

In [419]:
df=pd.DataFrame({'Name of the dataset':name,'Data type':datatype,'attribute type':att,'Total no of instances':instance,'total number of attribute':attno,'Year':year})

In [420]:
df

,Name of the dataset,Data type,attribute type,Total no of instances,total number of attribute,Year
0,Abalone,[Multivariate],"[Categorical,, Integer,, Real]",[4177],[8],[1995]
1,Adult,[Multivariate],"[Categorical,, Integer]",[48842],[14],[1996]
2,Annealing,[Multivariate],"[Categorical,, Integer,, Real]",[798],[38],[]
3,Anonymous Microsoft Web Data,[],[Categorical],[37711],[294],[1998]
4,Arrhythmia,[Multivariate],"[Categorical,, Integer,, Real]",[452],[279],[1998]
...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,[Multivariate],"[Integer,, Real]",[75840],[525],[2020]
618,Turkish Music Emotion Dataset,[Multivariate],"[Integer,, Real]",[400],[50],[2020]
619,Maternal Health Risk Data Set,[],[],[1014],[7],[2020]
620,Room Occupancy Estimation,"[Multivariate,, Time-Series]",[Real],[10129],[16],[2021]
621,Image Recognition Task Execution Times in Mobi...,[Univariate],[Real],[4000],[2],[2021]

In [421]:
driver.close()