In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By

Question 1: python program to scrape the  job-title, job-location, company_name, experience_required for the role of Data Analyst in Bangalore location

In [77]:
# for creating an instance of the driver that would automate scrapping and intercation with the chrome
driver=webdriver.Chrome(r"chromedriver.exe")

In [23]:
driver.get("https://www.naukri.com/")

In [24]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [25]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [26]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [20]:
job_title=[]
job_location=[]
company=[]
experience=[]

In [38]:
#for scraping job title
title_tag=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tag[0:10]:
    job_title.append(i.text)

In [39]:
job_title

['Senior Data Analyst',
 'Senior Data Analyst II',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - Data Science, 3 To 5 Years',
 'Commercial Stream Data Analyst',
 'Data Analyst',
 'Data Analyst / MIS',
 'Business Analyst/ Data Analyst opportunity - Bangalore, India',
 'Job opportunity Switzerland based MNC / JR. Data Analyst']

In [51]:
#for scraping job location
job_location=[]
loc_tag=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in loc_tag[0:10]:
    job_location.append(i.text)
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Indira Nagar)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [45]:
#for scraping company name
company_tag=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tag[0:10]:
    company.append(i.text)
company

['Optum',
 'Flipkart',
 'Bright Money',
 'Aon Hewitt',
 'Rise Finconnect',
 'Schneider Electric',
 'Cargill',
 'Trukker Technologies',
 'GSG consulting services private ltd',
 'Allegis Services India Pvt. Ltd.']

In [49]:
#for scraping experience required
experience=[]
exp_tag=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in exp_tag[0:10]:
    experience.append(i.text)
experience

['5-7 Yrs',
 '3-6 Yrs',
 '0-2 Yrs',
 '2-4 Yrs',
 '2-6 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '3-6 Yrs',
 '5-10 Yrs',
 '0-2 Yrs']

In [53]:
dfjob1=pd.DataFrame({'job title':job_title,'job location':job_location,'experience required':experience,'company name':company})
dfjob1

,job title,job location,experience required,company name
0,Senior Data Analyst,Bangalore/Bengaluru,5-7 Yrs,Optum
1,Senior Data Analyst II,Bangalore/Bengaluru,3-6 Yrs,Flipkart
2,Data Analyst,Bangalore/Bengaluru,0-2 Yrs,Bright Money
3,Data Analyst,Bangalore/Bengaluru,2-4 Yrs,Aon Hewitt
4,"Data Analyst - Data Science, 3 To 5 Years","Bangalore/Bengaluru, Mumbai (All Areas)",2-6 Yrs,Rise Finconnect
5,Commercial Stream Data Analyst,Bangalore/Bengaluru,3-8 Yrs,Schneider Electric
6,Data Analyst,Bangalore/Bengaluru,2-7 Yrs,Cargill
7,Data Analyst / MIS,Bangalore/Bengaluru(Indira Nagar),3-6 Yrs,Trukker Technologies
8,Business Analyst/ Data Analyst opportunity - B...,Bangalore/Bengaluru,5-10 Yrs,GSG consulting services private ltd
9,Job opportunity Switzerland based MNC / JR. Da...,Bangalore/Bengaluru,0-2 Yrs,Allegis Services India Pvt. Ltd.

question 2: pyhton program to scrape data for data scientist position in the bangalore location

In [73]:
# for creating an instance of the driver that would automate scrapping and intercation with the chrome
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('https://www.naukri.com/')

In [74]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')
# it will send the keys without any manual input in the search bar
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [64]:
#for scraping job title
job_title=[]
title_tag=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tag[0:10]:
    job_title.append(i.text)
job_title

['Analystics & Modeling Specialist',
 'Job||Job Opening For AI Technologist - Data Scientist at Wipro Holmes',
 'Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Assistant Manager - Data Science',
 'Data scientist _Tata Consultancy Services(Tcs)',
 'Data Science Senior Analyst',
 'Hiring For DATA Scientist @ NTT DATA Business Solution India',
 'Expert Data Scientist',
 'Data Scientist - Full Stack',
 'ACN - Applied Intelligence - C4DI - Sustainability - 09']

In [65]:
#for scraping job location
job_location=[]
loc_tag=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in loc_tag[0:10]:
    job_location.append(i.text)
job_location

['Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, delhi ncr',
 'Bangalore/Bengaluru, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Coimbatore, Cochin, Mumbai',
 'Bangalore/Bengaluru, Kochi/Cochin, New Delhi, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Bangalore/Bengaluru, Mumbai, Pune',
 'Bangalore/Bengaluru, Kochi/Cochin, Indore, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, delhi ncr',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad',
 'Bangalore/Bengaluru']

In [68]:
#for scraping company name
company=[]
company_tag=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tag[0:10]:
    company.append(i.text)
company

['Accenture',
 'Wipro',
 'Wipro',
 'CitiusTech',
 'TATA CONSULTANCY SERVICES (TCS)',
 'Accenture',
 'NTT DATA Business Solutions Private Limited',
 'United Phosphorus Limited',
 'Salesforce',
 'Accenture']

In [69]:
#for scraping experience required
experience=[]
exp_tag=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in exp_tag[0:10]:
    experience.append(i.text)
experience

['6-8 Yrs',
 '5-10 Yrs',
 '11-20 Yrs',
 '5-9 Yrs',
 '9-14 Yrs',
 '2-5 Yrs',
 '4-9 Yrs',
 '6-11 Yrs',
 '4-9 Yrs',
 '4-6 Yrs']

In [70]:
dfjob_data_scientist=pd.DataFrame({'job title':job_title,'job location':job_location,'experience required':experience,'company name':company})
dfjob_data_scientist

,job title,job location,experience required,company name
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",6-8 Yrs,Accenture
1,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",5-10 Yrs,Wipro
2,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",11-20 Yrs,Wipro
3,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",5-9 Yrs,CitiusTech
4,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",9-14 Yrs,TATA CONSULTANCY SERVICES (TCS)
5,Data Science Senior Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",2-5 Yrs,Accenture
6,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",4-9 Yrs,NTT DATA Business Solutions Private Limited
7,Expert Data Scientist,"Bangalore/Bengaluru, Mumbai",6-11 Yrs,United Phosphorus Limited
8,Data Scientist - Full Stack,"Bangalore/Bengaluru, Hyderabad/Secunderabad",4-9 Yrs,Salesforce
9,ACN - Applied Intelligence - C4DI - Sustainabi...,Bangalore/Bengaluru,4-6 Yrs,Accenture

In [ ]:
question 3: program to scrape data using filters on the webpage

In [431]:
# for creating an instance of the driver that would automate scrapping and intercation with the chrome
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('https://www.naukri.com/')

In [432]:
designation=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[1]/div/div/div/input")
designation.send_keys("“Data Scientist")

In [433]:
#to scrape the XML path of location and then enter the page
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [434]:
dr=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[1]/label/i")

In [435]:
dr.click()

In [436]:
driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[9]/div[2]/div/label/i").click()

In [437]:
#for scraping job title
job_title=[]
title_tag=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tag[0:10]:
    job_title.append(i.text)

job_location=[]
loc_tag=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in loc_tag[0:10]:
    job_location.append(i.text)

company=[]
company_tag=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tag[0:10]:
    company.append(i.text)

#for scraping experience required
experience=[]
exp_tag=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in exp_tag[0:10]:
    experience.append(i.text)

In [438]:
dfjob_data_scientist_filter=pd.DataFrame({'job title':job_title,'job location':job_location,'experience required':experience,'company name':company})
dfjob_data_scientist_filter

,job title,job location,experience required,company name
0,Senior Data Scientist,Bangalore/Bengaluru,5-10 Yrs,SAP
1,Data Scientist Lead_Tata Consultancy Services(...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",8-12 Yrs,TATA CONSULTANCY SERVICES (TCS)
2,Senior Data Scientist - Machine Learning,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",7-12 Yrs,Global Employees
3,DATA SCIENTIST/SR DATA SCIENTIST - Fintech,Bangalore/Bengaluru,2-6 Yrs,Connexions
4,Data Scientist,Bangalore/Bengaluru,8-12 Yrs,IBM
5,Principal Data Scientist,Bangalore/Bengaluru,7-12 Yrs,F5 WEB SOLUTIONS
6,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",4-9 Yrs,Exponentia DataLabs
7,Data Scientist,"Bangalore/Bengaluru, Pune",3-8 Yrs,Orcapod Consulting Services Private Limited
8,Senior Data Scientist / ML Engineer (PAN India),"Bangalore/Bengaluru, Pune, Delhi / NCR",5-10 Yrs,TATA CONSULTANCY SERVICES (TCS)
9,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",10-15 Yrs,Amazon

Question 4:

In [110]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.flipkart.com/")

In [111]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys("sunglasses")

In [112]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [113]:
l=0
brand=[]
price=[]
discount=[]
description=[]
while l<3:
   
    # to scrape the brand name
    brandtag=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")

    for i in brandtag:
        brand.append(i.text.split())

        
    # to scrape the price 
    pricetag=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")

    for i in pricetag:
        price.append(i.text.split())
 
     #to scrape discount on the items
    discounttag=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']//span")

    for i in discounttag:
        discount.append(i.text.split())

    
# to scrape description of items
    descriptiontag=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in descriptiontag:
        description.append(i.text.split())
   
    l=l+1
    nextbutton=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]").click()
    time.sleep(1)

In [118]:
df_sunglasses=pd.DataFrame({'brand':brand,'price':price,'discount':discount,'description':description})
df_sunglasses=df_sunglasses.head(100)
df_sunglasses

,brand,price,discount,description
0,[Fastrack],[₹359],"[55%, off]","[UV, Protection, Wayfarer, Sunglasses, (Free, ..."
1,[Fastrack],[₹599],"[25%, off]","[UV, Protection, Wayfarer, Sunglasses, (Free, ..."
2,[Fastrack],[₹749],"[25%, off]","[UV, Protection, Wayfarer, Sunglasses, (Free, ..."
3,[Fastrack],[₹599],"[25%, off]","[UV, Protection, Rectangular, Sunglasses, (Fre..."
4,[PHENOMENAL],[₹252],"[74%, off]","[UV, Protection, Retro, Square, Sunglasses, (53)]"
...,...,...,...,...
95,[EYELLUSION],[₹220],"[83%, off]","[UV, Protection,, Gradient,, Riding, Glasses, ..."
96,[elegante],[₹179],"[82%, off]","[UV, Protection, Over-sized, Sunglasses, (Free..."
97,[AISLIN],[₹443],"[73%, off]","[UV, Protection,, Gradient, Wayfarer,, Retro, ..."
98,[DEIXELS],[₹236],"[52%, off]","[UV, Protection, Wayfarer, Sunglasses, (Free, ..."
99,"[VINCENT, CHASE]",[₹999],"[50%, off]","[by, Lenskart, UV, Protection, Round, Sunglass..."

In [ ]:
Question 5:

In [260]:
# to enter flipkart website
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('https://www.flipkart.com/')

In [261]:
# to search the product
product_search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product_search.send_keys ('iphone11')

In [262]:
# for clicking the search button
button=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
button.click()

In [263]:
# it will take to the page which contains all product information
prod_search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[1]")
prod_search.click()

In [264]:
# it is the link of the All Review page
review_link="/apple-iphone-11-white-64-gb/product-reviews/itmfc6a7091eb20b?pid=MOBFWQ6BVWVEH3XE&lid=LSTMOBFWQ6BVWVEH3XEMXQMLO&marketplace=FLIPKART"

In [265]:
# to enter the all review webpage
review_url=('https://www.flipkart.com'+review_link)

In [266]:
# this will take the driver to the All review page
driver.get(review_url)

In [269]:
rating=[]
summary=[]
review=[]
x=0
while x<20:
    
  # to scrape the rating of the review
  
    rating_tab=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tab:
        rating.append(i.text)
    
    # to scrape the review summary
    
    summary_tab=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in summary_tab:
        summary.append(i.text)
  
 # to scrape the full review 
    review_tab=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in review_tab:
        review.append(i.text)
    
    x=x+1
    #to move across the review pages
    driver.get(str(review_url)+"&page"+str(i))
    time.sleep(3)

In [272]:
len(summary)

200

In [275]:
df_iphone11=pd.DataFrame({'Rating':rating,'Summary of Review':summary,'Full review':review})
df_iphone11=df_iphone11.head(100)
df_iphone11

,Rating,Summary of Review,Full review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Fabulous!,This is my first iOS phone. I am very happy wi...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
98,5,Highly recommended,It's my first time to use iOS phone and I am l...
99,4,Good choice,So far it’s been an AMAZING experience coming ...

Question 6:

In [91]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('https://www.flipkart.com/')

In [92]:
product_search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product_search.send_keys ("sneakers")
button=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
button.click()

In [93]:
p=0
brand=[]
prod_des=[]
price=[]

while p<3:
    #to scrape brand names
    brandtag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brandtag:
        brand.append(i.text.split())
    #to scrape product descriptions
    prodtag=driver.find_elements(By.XPATH,"//a[@class='IRpwTa' or @class='IRpwTa _2-ICcC']")      
    for i in prodtag:
        prod_des.append(i.text.split())
    # to scrape the price of the products
    pricetag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pricetag:
        price.append(i.text.split())
    p=p+1
    nextbtn=driver.find_element(By.CLASS_NAME,"_1LKTO3").click()
    time.sleep(1)

In [95]:
df_sneakers=pd.DataFrame({'brand name':brand,'price':price,'prodct description':prod_des})
df_sneakers=df_sneakers.head(100)
df_sneakers

,brand name,price,prodct description
0,[Nilatin],[₹499],"[Sneakers, For, Men]"
1,"[Robbie, jones]",[₹599],"[Casual, Sneakers, Black, Outdoor, Shoes, For,..."
2,[Layasa],[₹199],"[supr, Sneakers, For, Men]"
3,[Layasa],[₹398],"[Sneakers, For, Men]"
4,[Layasa],[₹249],"[supr, Sneakers, For, Men]"
...,...,...,...
95,[ROCKFIELD],[₹509],"[Sneakers, For, Men]"
96,[LEVI'S],"[₹1,439]","[Levi's, Men's, Lancer, Sneakers, Sneakers, Fo..."
97,[Chevit],[₹544],"[Super, Stylish, &, Trendy, Combo, Pack, of, 0..."
98,[aadi],[₹351],"[Sneakers, For, Men]"
99,"[Red, Rose]",[₹499],"[Sneakers, For, Men]"

In [ ]:
Question 7:

In [346]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('https://www.myntra.com/shoes')

In [348]:
search_price=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
search_price.click()

In [84]:
nextbtn=driver.find_element(By.CLASS_NAME,"_1LKTO3")
nextbtn.click()

In [82]:
price=[]
pricetag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in pricetag:
    price.append(i.text.split())

In [ ]:
Question 8:

In [4]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('https://www.amazon.in/')

In [5]:
prod_search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
prod_search.send_keys('Laptop')
searchbtn=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input").click()

In [6]:
filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[14]/span/a/div').click()

In [7]:
title=[]
rating=[]
price=[]
#for scraping the title tag
titletag=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in titletag:
    title.append(i.text.split())

#for scraping the price of the laptops
pricetag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in pricetag:
    price.append(i.text.split())

In [9]:
df_laptops=pd.DataFrame({'Title':title,'price':price})
df_laptops=df_laptops.head(100)
df_laptops

                                                Title       price
0   [Lenovo, IdeaPad, Slim, 5, Intel, Core, i7, 12...    [81,990]
1   [ASUS, Vivobook, 15,, 15.6-inch, (39.62, cms),...    [54,844]
2   [Lenovo, Ideapad, Gaming, 3, Intel, Core, i7, ...    [59,990]
3   [HP, Pavilion, Plus,, 12th, Gen, Intel, Core, ...    [89,990]
4   [Lenovo, Yoga, 7, Intel, Evo, Core, i7, 12th, ...  [1,09,990]
5   [(Renewed), Dell, Latitude, E7470, Intel, Core...    [38,705]
6   [HP, Pavilion, 14, 12th, Gen, Intel, Core, i7,...    [87,990]
7   [Hp, Pavilion, X360, 11Th, Gen, Intel, Core, I...    [82,400]
8   [Samsung, Galaxy, Book2, Intel, 12th, Gen, cor...    [79,490]
9   [HP, Victus, 11th, Gen, Intel, Core, i7-11800H...  [1,09,990]
10  [Lenovo, IdeaPad, Gaming3, Laptop, Intel, i7, ...    [76,618]
11  [Acer, Nitro, 5, Gaming, Laptop/12th, Gen, Int...  [1,04,990]
12  [(Renewed), Dell, Intel, 6th, Gen, Core, i7-68...    [43,198]
13  [HP, Pavilion, 11th, Gen, Intel, Core, i7, 15....    [85,210]
14  [Hp, Pavilion, 15, 12Th, Gen, Intel, Core, I7,...    [96,410]
15  [ASUS, TUF, Gaming, F15, (2022),, 15.6-inch, (...  [1,07,990]
16  [(Renewed), Dell, Latitude, Laptop, E7250, Int...    [24,974]
17  [HP, Victus, 12th, Gen, Intel, Core, i7, 15.6,...    [95,490]
18  [MSI, Modern, 14,, Intel, i7-1195G7,, 14", FHD...    [59,990]
19  [(Renewed), Lenovo, Intel, Core, i7, 5600U, 12...    [25,499]
20  [(Renewed), DELL, LATITUDE, 7490, (CORE, I7, 8...    [36,190]
21  [AGB, Octev, AG-1208, 15.6", Laptop(7th, Gener...    [70,000]
22  [Dell, New, G15, 5521, SE, Gaming, Laptop,, In...  [1,38,290]
23  [ASUS, VivoBook, 14, (2021),, 14-inch, (35.56,...    [59,990]

In [10]:
rating=[]
ratingtag=driver.find_elements(By.CLASS_NAME,"a-size-medium a-color-base a-text-beside-button a-text-bold")
for i in ratingtag:
    rating.append(i.text)
print(rating)

[]

Question 9:

In [349]:
from selenium.webdriver.common.keys import Keys

In [350]:

driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('https://www.ambitionbox.com/')

In [353]:
joboption=driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[5]/a")
joboption.click()

In [354]:
driver.refresh()
jobsearch=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
jobsearch.send_keys("Data Scientist")

In [356]:

searchbtn=driver.find_element(By.XPATH,'//button[@class="ab_btn search-btn round"]')
searchbtn.click()

In [284]:
locselect=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[5]/div/label")
locselect.click()

select=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[5]/div/label")
select.click()

In [429]:


driver.get("https://www.ambitionbox.com/jobs/search?tag=Data%20Scientist")
lnks=driver.find_elements(By.XPATH,'//a(@CLASS_NAME="title noclick"and @TAG_NAME="a")')

InvalidSelectorException: Message: invalid selector: Unable to locate an element with the xpath expression //a(@CLASS_NAME="title noclick"and @TAG_NAME="a") because of the following error:
SyntaxError: Failed to execute 'evaluate' on 'Document': The string '//a(@CLASS_NAME="title noclick"and @TAG_NAME="a")' is not a valid XPath expression.
  (Session info: chrome=104.0.5112.81)
Stacktrace:
Backtrace:
	Ordinal0 [0x00A35FD3+2187219]
	Ordinal0 [0x009CE6D1+1763025]
	Ordinal0 [0x008E3E78+802424]
	Ordinal0 [0x008E6854+813140]
	Ordinal0 [0x008E6712+812818]
	Ordinal0 [0x008E69A0+813472]
	Ordinal0 [0x00911925+989477]
	Ordinal0 [0x00911EAB+990891]
	Ordinal0 [0x0093ECCC+1174732]
	Ordinal0 [0x0092CBD4+1100756]
	Ordinal0 [0x0093CFC2+1167298]
	Ordinal0 [0x0092C9A6+1100198]
	Ordinal0 [0x00906F80+946048]
	Ordinal0 [0x00907E76+949878]
	GetHandleVerifier [0x00CD90C2+2721218]
	GetHandleVerifier [0x00CCAAF0+2662384]
	GetHandleVerifier [0x00AC137A+526458]
	GetHandleVerifier [0x00AC0416+522518]
	Ordinal0 [0x009D4EAB+1789611]
	Ordinal0 [0x009D97A8+1808296]
	Ordinal0 [0x009D9895+1808533]
	Ordinal0 [0x009E26C1+1844929]
	BaseThreadInitThunk [0x7605FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77C97A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77C97A6E+238]

In [428]:
lnks

[]

In [400]:
driver.get('https://www.ambitionbox.com')
    comtag=driver.find_element(By.CLASS_NAME,"company sbold-section-header")
    company.append(comtag.text)
    i=i+1
company

IndentationError: unexpected indent (Temp/ipykernel_12168/4238069377.py, line 2)

In [148]:
rating

[['4.3'], [], [], [], [], [], [], [], [], []]

In [149]:
company

[['CBRE', 'South', 'Asia', 'Pvt', 'Ltd'], [], [], [], [], [], [], [], [], []]

In [150]:
days

[[],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 []]

In [379]:
comtag=driver.find_elements(By.CLASS_NAME,"company-info")
comtag

[<selenium.webdriver.remote.webelement.WebElement (session="14f0e3c3e6de04d0bce7cdff0426bcf2", element="a903672d-b8fd-4439-8e48-d1d7b643d48b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14f0e3c3e6de04d0bce7cdff0426bcf2", element="6eb45ad9-0cfc-479d-bad0-ffeb29e42d9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14f0e3c3e6de04d0bce7cdff0426bcf2", element="c893118c-7973-4e9f-b8ce-d4258d7b3f66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14f0e3c3e6de04d0bce7cdff0426bcf2", element="697b3830-ed9e-4288-b16c-229dfbc4f391")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14f0e3c3e6de04d0bce7cdff0426bcf2", element="5369b220-7add-4ae6-9313-6c0e7a0ab3d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14f0e3c3e6de04d0bce7cdff0426bcf2", element="549da653-2caf-4a29-b5ef-ec61c877a426")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14f0e3c3e6de04d0bce7cdff0426bcf2", element="b54ace6a-dae8-492d-a69d-9005e29aca8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14f0e3c3e6de04d0bce7cdff0426bcf2", element="b44c076c-e835-4ae1-867a-66ce7af2e013")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14f0e3c3e6de04d0bce7cdff0426bcf2", element="ea0191f9-6ada-4c10-b7f3-d33636f974f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14f0e3c3e6de04d0bce7cdff0426bcf2", element="c4741546-4d9e-495b-a5eb-c53e50b6b3ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14f0e3c3e6de04d0bce7cdff0426bcf2", element="1992f227-c9c2-4ba5-9eb7-121e8040c9ba")>]

In [376]:
comtag[8].text

''

Question 10:

In [312]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get('https://www.ambitionbox.com/')

In [322]:
salaryoption=driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[3]/a")
salaryoption.click()

In [326]:
#to enter salary page
salurl=("https://www.ambitionbox.com"+"/salaries?campaign=desktop_nav")
driver.get(salurl)

In [327]:
# to enter data scientist in the search bar
driver.refresh()
jobsearch=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div/div/div/div[1]/span/input")
jobsearch.send_keys("Data Scientist")

In [329]:
# to enter search bar
searchbtn=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div/div/div/button')
searchbtn.click()